<div class="body">
    <div class="career-container">

        <div class="career-header">
            <img style="object-fit: cover;" src="../../assets/images/backgrounds/cheatahs.jpg" alt="">
        </div>
    
        <h1>Careers</h1>
    
        <div class="open">
            <h3>Open Positions</h3>
        <p>Currently the open positions are as below, Click <b>Join Now</b> to make your application</p>
        </div>
    
        <div class="position">
            <div class="career-row">
             <div class="career">
                   <div class="career-div">
                    <div class="career-div1">
                        <h1>Product Manager</h1>
                        <h3>San Francisco / Full Time </h3>
                    </div>
                      <button> JOIN NOW</button>
                </div>
                <hr>
             </div>
             
              <div class="career">
                   <div class="career-div">
                    <div class="career-div1">
                        <h1>Graphic Designer</h1>
                        <h3>San Francisco / Full Time </h3>
                    </div>
                      <button> JOIN NOW</button>
                </div>
                <hr>
             </div>
    
    
            </div>
    
                 <div class="career-row">
             <div class="career">
                   <div class="career-div">
                    <div class="career-div1">
                        <h1>Network Developer</h1>
                        <h3>San Francisco / Full Time </h3>
                    </div>
                      <button> JOIN NOW</button>
                </div>
                <hr>
             </div>
             
              <div class="career">
                   <div class="career-div">
                    <div class="career-div1">
                        <h1>Marketing Communication</h1>
                        <h3>San Francisco / Full Time </h3>
                    </div>
                      <button> JOIN NOW</button>
                </div>
                <hr>
             </div>
    
             
            </div>
    
                 <div class="career-row">
             <div class="career">
                   <div class="career-div">
                    <div class="career-div1">
                        <h1>Network Developer</h1>
                        <h3>San Francisco / Full Time </h3>
                    </div>
                      <button> JOIN NOW</button>
                </div>
                <hr>
             </div>
             
              <div class="career">
                   <div class="career-div">
                    <div class="career-div1">
                        <h1>Image Editing</h1>
                        <h3>San Francisco / Full Time </h3>
                    </div>
                      <button> JOIN NOW</button>
                </div>
                <hr>
             </div>
    
             
            </div>
    </div>
    
     </div>
        <app-footer></app-footer>
</div>