<div class="body">
  <div class="career-container">
    <div class="careers-bg career-header">
      <h1 class="p-4 text-extrabold md:pl-28 text-[40px] md:mb-2 text-white">Careers</h1>
    </div>

    <h1>Careers</h1>

    <div class="open">
      <h3>Open Positions</h3>
      <p>
        Currently the open positions are as below, Click <b>Join Now</b> to make
        your application
      </p>
    </div>

    <div class="career-div" *ngFor="let career of careers">
      <details class="w-[90vw] border-2 mb-2">
        <summary class="w-[100vw] marker:content-[''] flex justify-around items-center">
          <div class="career-div1">
            <h1>{{career.name}}</h1><br>
            <h3 class="mb-2">{{career.country['data']['capital']}}</h3>
          </div>
          <span
            class="h-[40px] flex justify-center items-center gap-2 bg-amber-400 py-1 px-4 font-medium text-left border-b border-black-200 dark:border-black-700 dark:text-black-400 text-[white]"
          >
            Join Now

            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </span>
        </summary>

        <div class="p-4 flex justify-center">
          <div class="w-[80vw] shadow-md" style="padding:20px">
            <h1>Job description:</h1>
            <p>
              We are looking for highly potential candidate
              <br>
            </p>
            <h2>Requirements:</h2>
            <p>
              1. 1/2 years experience
              <br />
              2. Academic: Bachelor/High School
              <br />
              3. Expert in HTML, CSS JS
              <br />
              4. Experience with RDBMS
              <br />
              5. Integration of payment system
              <br />
              6. Should be able to work on bug fixing and maintain code quality
              <br />
              7. Good knowledge of modern UI/UX standards
              <br />
            </p>

            <h1>Other skills</h1>

            <p>
              1. Communication skills
              <br />
              2. +ve attitude
              <br />
              3. Curious to learn and adapt new technologies
              <br />
              4. Time management
              <br />
              5. Team work
              <br />
              6. Meeting client requirements
              <br />
            </p>
            <button (click)="toggleForm(career.id)">Apply</button>
            <div *ngIf="toggle" class="mt-4">
              <form class="w-full max-w-lg shadow-lg p-4" [formGroup]="form" (ngSubmit)="SubmitCareer()">
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                      First Name
                    </label>
                    <input formControlName="firstName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-2 px-2 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="">
                    <p class="text-red-500 text-xs"
                      *ngIf="
                      !form.get('firstName')!.valid &&
                      form.get('firstName')!.touched
                      ">Please fill out this field.
                    </p>
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                      Last Name
                    </label>
                    <input formControlName="lastName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="">
                    <p class="text-red-500 text-xs"
                      *ngIf="
                      !form.get('lastName')!.valid &&
                      form.get('lastName')!.touched
                      ">Please fill out this field.
                    </p>
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                      Email
                    </label>
                    <input formControlName="email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-2 px-2 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="email" placeholder="">
                    <p class="text-red-500 text-xs"
                      *ngIf="
                      !form.get('email')!.valid &&
                      form.get('email')!.touched
                      ">Please fill out this field.
                    </p>
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                      Phone Number
                    </label>
                    <input formControlName="phoneNumber" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="number" placeholder="">
                    <p class="text-red-500 text-xs"
                      *ngIf="
                      !form.get('phoneNumber')!.valid &&
                      form.get('phoneNumber')!.touched
                      ">Please fill out this field.
                    </p>
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                      LinkedIn Url
                    </label>
                    <input formControlName="linkedInUrl" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-2 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-linkedin" type="text" placeholder="">
                    <p class="text-red-500 text-xs"
                      *ngIf="
                      !form.get('linkedInUrl')!.valid &&
                      form.get('linkedInUrl')!.touched
                      ">Please fill out this field.
                    </p>
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                      CV
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-2 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-linkedin" type="file" accept="application/pdf" (change)="onChange($event)" placeholder="Attach CV">
                    
                  </div>
                </div>
                <div class="sm:col-span-2">
                  <div class="w-full px-3 flex items-center justify-between">
                    <label
                      for="message"
                      class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                      >Cover Letter</label
                    >
                    <span id="message-max" class="text-sm text-gray-500 mb-2"
                      >Max. 500 characters</span
                    >
                  </div>
                  <div class="mt-1">
                    <textarea
                      formControlName="coverLetter"
                      id="message"
                      name="message"
                      rows="4"
                      class="py-1 px-2 block w-full shadow-sm text-gray-900 focus:ring-brand-green focus:border-brand-green border border-gray-300 rounded-md"
                      aria-describedby="message-max"
                    ></textarea>
                    <p class="text-red-500 text-xs"
                      *ngIf="
                      !form.get('coverLetter')!.valid &&
                      form.get('coverLetter')!.touched
                      ">Please fill out this field.
                    </p>
                  </div>
                </div>
                <div class="sm:col-span-2 sm:flex sm:justify-end">
                  <button
                    [disabled]=!form.valid
                    type="submit"
                    class="mt-2 w-full inline-flex items-center justify-center !px-6 !py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-brand-green bg-brand-yellow hover:bg-brand-yellow/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-green sm:w-auto"
                  >
                    Submit Application
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </details>
    </div>
  </div>

  <app-footer></app-footer>
</div>
