.body{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}
.career-container{
    width: 98.9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.career-header{
    width: 100%;
    height: 40vh;
}

.career-header img{
    width: 100%;
     height: 100%;
}

.career-container h1{
    align-items: center;
    font-size: 40px;
    color: #3B7360;
    margin-top: 20px;
}
.career-container .open{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #3B7360;
}
.open h3{
    color: black;
    font-size: 20px;
}
.open p{
    color: #3B7360;
}

.position{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.career{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
     width: 48%;
     gap: 20px;

}
.career-row{
    display: flex;
    gap: 20px;
    width: 89%;
}
.career-div{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.career-div1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.career-div1 hr{
    color: black;
    width: 10%;
}
.career-div1 h1{
    font-size: 20px;
}
.career-div button{
    background-color: #E7B022;
    color: white;
    height: 60%;
    padding: 10px 20px;
}
