<div class="body">
  <div class="career-container">
    <div class="career-header">
      <img
        style="object-fit: cover"
        src="../../assets/images/backgrounds/cheatahs.jpg"
        alt=""
      />
    </div>

    <h1>Careers</h1>

    <div class="open">
      <h3>Open Positions</h3>
      <p>
        Currently the open positions are as below, Click <b>Join Now</b> to make
        your application
      </p>
    </div>

    <div class="career-div">
      <details>
        <summary class="w-[100vw] marker:content-[''] flex justify-around items-center">
          <div class="career-div1">
            <h1>Graphic Designer</h1><br>
            <h3>San Francisco / Full Time</h3>
          </div>
          <span
            class="h-[40px] flex justify-center items-center gap-2 bg-amber-400 py-1 px-4 font-medium text-left border-b border-black-200 dark:border-black-700 dark:text-black-400 text-[white]"
          >
            Join Now

            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </span>
        </summary>

        <div class="p-4 flex justify-center">
          <div class="w-[80vw] bg-gray-200" style="padding:20px">
            <h1>Job description:</h1>
            <p>
              We are looking for highly potential candidate
              <br>
            </p>
            <h2>Requirements:</h2>
            <p>
              1. 1/2 years experience
              <br />
              2. Academic: Bachelor/High School
              <br />
              3. Expert in HTML, CSS JS
              <br />
              4. Experience with RDBMS
              <br />
              5. Integration of payment system
              <br />
              6. Should be able to work on bug fixing and maintain code quality
              <br />
              7. Good knowledge of modern UI/UX standards
              <br />
            </p>

            <h1>Other skills</h1>

            <p>
              1. Communication skills
              <br />
              2. +ve attitude
              <br />
              3. Curious to learn and adapt new technologies
              <br />
              4. Time management
              <br />
              5. Team work
              <br />
              6. Meeting client requirements
              <br />
            </p>
          </div>
        </div>
      </details>
    </div>
  </div>

  <app-footer></app-footer>
</div>
