.notfound{
    width:100vw;
    height: 90vh;
    margin-top: 10vh;
    background-image: url('https://cdn.dribbble.com/users/5372810/screenshots/14649362/media/ab234d7ea0b8a67bd73d7971f54181f3.gif');
    background-size: cover;
    background-repeat: no-repeat;
}