.products{
    padding:30px;
    width:100vw;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.products div{
    width:25vw;
}

@media screen and (max-width:768px) {
    .products div{
        width:70vw;
    }
}