.products{
    padding:30px;
    width:100vw;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.products div{
    width:25vw;
}

/* COPY THIS FOR EVERY COMPONENT YOU USE IN */
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 20vw;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background:red; */
    
  }
@media screen and (max-width:768px) {
    .products div{
        width:70vw;
    }
    .centered {
        top: 50%;
        font-size: 20px;
    }
}

@media screen and (max-width:1052px) {
    .centered {
        top: 50%;
        font-size: 30px;
    }
}