<!--footer-->
<footer
  class="bg-[url(/assets/images/backgrounds/footer-bg.svg)] bg-cover bg-center p-8 relative"
>
  <div class="cs-footer">
    <div class="flex justify-center md:pt-16 align-center ">
      <div class="text-center w-[700px]">
        <h3 class="text-3xl font-bold text-white">Subscribe</h3>
        <!-- <small class="text-white"
          >Share your thoughts</small
        > -->
        <div class="mt-12 mx-8 md:mx-0 cs-input-container">
          <div class="mt-1 flex rounded-md shadow-sm input-btn">
            <div
              class="relative flex items-stretch flex-grow focus-within:z-10"
            >
              <input
                type="text"
                name="search"
                class="send-email p-4 focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-none rounded-l-md pl-4 sm:text-lg border-gray-300 py-2 p-4"
                placeholder="Send your email"
              />
            </div>
            <button
              type="button"
              class="btn-send -ml-px relative inline-flex items-center space-x-2 px-16 py-2 font-medium rounded-r-md text-brand-green  bg-brand-yellow hover:bg-brand-yellow/80 focus:outline-none focus:ring-1"
            >
              <span>Subscribe</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap justify-center align-center gap-16 pt-20">
    <div class="findus flex flex-col items-start">
      <div class="mb-4 items-start">
        <img
          src="/assets/images/c_squared_horizontal_logo.png"
          alt="c_squared_horizontal_logo"
        />
      </div>
      <div class="flex space-x-5 items-start">
        <a href="https://www.facebook.com/csquaredafricagroup/">
          <i class="bi bi-facebook text-white text-xl hover:text-blue-600"></i>
        </a>

        <a href="#">
          <i class="bi bi-youtube text-white text-xl hover:text-red-600"></i>
        </a>

        <a href="https://twitter.com/CSquared_Africa?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
          <i class="bi bi-twitter text-white text-xl hover:text-blue-500"></i>
        </a>
      </div>
      
    </div>
    <!-- <div style="width: 32vw;" class="tweet">
      <ng-twitter-timeline
        [dataSrc]="{ sourceType: 'profile', screenName: 'CSquared_Africa' }"
        [opts]="{ tweetLimit: 1 }"
      ></ng-twitter-timeline>
    </div> -->
    <div class="findus" style="color:white;">
      <h2 style="font-size: 25px; margin-bottom:10px;" routerLink="/country/uganda" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-blue-500">Uganda &nbsp;<img data-popover id="popover-right" role="tooltip" src="/assets/images/icons/long-arrow-right.png" alt=""></h2>
      
      <p (click)="viewCountryMap('ug')" class="hover:cursor-pointer hover:translate-x-0.5">1st Floor, Plot 7/11 GT Bank Building, Buganda Road, Kampala</p><br>

      <h2 style="font-size: 25px; margin-bottom:10px;" routerLink="/country/kenya" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-blue-500">Kenya &nbsp; <img data-popover id="popover-right1" src="/assets/images/icons/long-arrow-right.png" alt=""></h2>
      <p (click)="viewCountryMap('ke')" class="hover:cursor-pointer hover:translate-x-0.5">14th Floor, Dunhill Towers, Waiyaki Way, Nairobi</p><br>
      <h2 style="font-size: 25px; margin-bottom:10px;" routerLink="/country/ghana" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-blue-500">Ghana &nbsp; <img data-popover id="popover-right2" src="/assets/images/icons/long-arrow-right.png" alt=""></h2>
      <p (click)="viewCountryMap('gh')" class="hover:cursor-pointer hover:translate-x-0.5">7th Floor, Accra Financial Center, Liberia Road, Acrra</p><br>
    </div>

    <div class="findus" style="color:white;">
      <h2 style="font-size: 25px; margin-bottom:10px;" routerLink="/country/liberia" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-blue-500">Liberia &nbsp; <img data-popover id="popover-right3" src="/assets/images/icons/long-arrow-right.png" alt=""></h2>
      <p (click)="viewCountryMap('li')" class="hover:cursor-pointer hover:translate-x-0.5">1st Floor, ICA Building, 6th Street Sinkor, Tubman Boulevard, Monrovia</p><br>
      
      <h2 style="font-size: 25px; margin-bottom:10px;" routerLink="/country/kenya" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-blue-500">Togo &nbsp; <img data-popover id="popover-right1" src="/assets/images/icons/long-arrow-right.png" alt=""></h2>
      <p (click)="viewCountryMap('ke')" class="hover:cursor-pointer hover:translate-x-0.5">14th Floor, Dunhill Towers, Waiyaki Way, Togo</p><br>
      
      <h2 style="font-size: 25px; margin-bottom:10px;" routerLink="/country/ghana" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-blue-500">DRC &nbsp; <img data-popover id="popover-right2" src="/assets/images/icons/long-arrow-right.png" alt=""></h2>
      <p (click)="viewCountryMap('gh')" class="hover:cursor-pointer hover:translate-x-0.5">7th Floor, Accra Financial Center, Liberia Road, DRC</p><br>
      
    </div>

    <div>

      <!-- Quicklinks -->
      <div class="findus">
        <h6 class="text-2xl text-white">Mission</h6>
        <br>
        <p class="flex flex-wrap text-white"> 
          CSquared is a technology company, making commercially driven investments into broadband-enabling infrastructure throughout Africa.
        </p><br>
        <h6 class="text-brand-yellow font-bold text-2xl pb-2">More Links</h6>
        <ul class="text-sm text-slate-300 ">
          <li routerLink="/about"
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - About Us
          </li>
          <li
            routerLink="/insights"
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - News
          </li>
          <li routerLink="/career"
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - Careers
          </li>
          <li routerLink="/team"
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - Team
          </li>
          <li routerLink="/partners"
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - Partners
          </li>
        </ul>
      </div>
      <!-- End of quick links -->

      
    </div>
  </div>
  <div>
    <div class="flex justify-center mt-10">
      <div class="text-xs md:text-sm text-brand-yellow flex space-x-8">
        <h5>+1 361-301-0959</h5>
        <h5>Terms of Service</h5>
        <h5>Privacy Policy</h5>
      </div>
    </div>
  </div>
</footer>
<!--end footer-->
