<!--footer-->
<footer
  class="p-8 relative bg-green-800"
>


  <div class="flex flex-wrap justify-center align-center gap-10 pt-8">
    <div class="findus flex flex-col items-start">
      <div class="mb-4 items-start">
        <img
          src="/assets/images/c_squared_horizontal_logo.png"
          alt="c_squared_horizontal_logo"
          width="200vw"
        />
      </div>
      <div class="flex space-x-5 items-start">
        <a href="https://www.facebook.com/csquaredafricagroup/" target="_blank">
          <i class="bi bi-facebook text-white text-xl hover:text-blue-600"></i>
        </a>

        <a href="https://www.youtube.com/@csquaredafrica" target="_blank">
          <i class="bi bi-youtube text-white text-xl hover:text-red-600"></i>
        </a>
        <a href="https://www.linkedin.com/company/csquaredafrica" target="_blank">
          <i class="bi bi-linkedin text-white text-xl hover:text-red-600"></i>
        </a>

        <a href="https://twitter.com/CSquared_Africa?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"  target="_blank">
          <i class="bi bi-twitter text-white text-xl hover:text-blue-500"></i>
        </a>
      </div>
      
    </div>
    <div class="findus" style="color:white; ">
      <h2 style="font-size: 18px; margin-bottom:10px;" routerLink="/country/uganda" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-white-500">Uganda &nbsp;<img data-popover id="popover-right" role="tooltip" src="/assets/images/flags/Flag_of_Uganda.svg.png" alt="" width="35px" ></h2>
      <a  href="https://www.google.com/maps/place/CSquared+Uganda/@0.3171053,32.5750195,17z/data=!3m1!4b1!4m6!3m5!1s0x177dbb7e747a74bb:0x21a688345cd64a48!8m2!3d0.3170999!4d32.5772135!16s%2Fg%2F11b5wmyv66" target="_blank" class="mb-4 hover:cursor-pointer hover:translate-x-0.5 hover:text-amber-500" style="font-size: 14px;">Suite B.3, 7/11 Buganda Road, Kampala, Uganda</a><br><br>
      <h2 style="font-size: 18px; margin-bottom:10px;" routerLink="/country/kenya" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-white-500">Kenya &nbsp; <img data-popover id="popover-right1" src="/assets/images/flags/255px-Flag_of_Kenya.svg.png" alt="" width="35px"></h2>
      <a href="https://www.google.com/maps/place/Dunhill+Towers/@-1.2620415,36.7968288,17z/data=!3m1!4b1!4m6!3m5!1s0x182f176bc58b7517:0xa3cc2e9c1630138d!8m2!3d-1.2620469!4d36.7990228!16s%2Fg%2F11hbc2_zl5" target="_blank" class="hover:cursor-pointer hover:translate-x-0.5 hover:text-amber-500" style="font-size: 14px;">14th Floor, Dunhill Towers, Waiyaki Way, Westlands, Nairobi</a><br><br>
<!-- <br><br> -->
      <h2 style="font-size: 18px; margin-bottom:10px;" routerLink="/country/ghana" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-white-500">Ghana &nbsp; <img data-popover id="popover-right2" src="/assets/images/flags/255px-Flag_of_Ghana.svg.png" alt="" width="35px"></h2>
      <a href="https://www.google.com/maps/search/7th+Floor,+Accra+Financial+Centre+%7C+Liberation+Road,+Accra,+P.O+Box+CT+6217+Cantonments,+Accra/@5.580486,-0.2072184,14z/data=!3m1!4b1" target="_blank" class="hover:cursor-pointer hover:translate-x-0.5 hover:text-amber-500" style="font-size: 14px;">7th Floor, Accra Financial Centre | Liberation Road, Accra, P.O Box CT 6217 Cantonments, Accra</a><br><br>
    </div>

    <div class="findus" style="color:white;">
      <h2 style="font-size: 18px; margin-bottom:10px;" routerLink="/country/liberia" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-white-500">Liberia &nbsp; <img data-popover id="popover-right3" src="/assets/images/flags/Flag_of_Liberia.svg" alt="" width="35px"></h2>
      <a href="https://www.google.com/maps/place/Immigration+%26+Checkpoints+Authority/@1.3068075,103.860575,17z/data=!3m2!4b1!5s0x31da19b5e68e2f2f:0xa2d03b31f27a8d3e!4m6!3m5!1s0x31da19b5e11dee33:0x39ec84fb0c81a07a!8m2!3d1.3068021!4d103.862769!16s%2Fg%2F1ptyz3b5p" target="_blank" class="hover:cursor-pointer hover:translate-x-0.5 hover:text-amber-500" style="font-size: 14px;">1st Floor, ICA Building | 6th Street Tubman Boulevard</a><br><br>
      
      <h2 style="font-size: 18px; margin-bottom:10px;" routerLink="/country/togo" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-white-500">Togo &nbsp; <img data-popover id="popover-right1" src="/assets/images/flags/Flag_of_Togo.svg.png" alt="" width="35px"></h2>
      <a href="https://www.google.com/maps/search/4eme+etage+Immeuble+AGF+-+Africa+Guarantee+Fund+5082,+Boulevard+GNASSINGBE+Eyad%C3%A9ma,+Lom%C3%A9+II,+Lom%C3%A9,Togo/@6.2041755,1.2192283,15z/data=!3m1!4b1" target="_blank" class="hover:cursor-pointer hover:translate-x-0.5 hover:text-amber-500" style="font-size: 14px;">4eme etage Immeuble AGF - Africa Guarantee Fund 5082, Boulevard GNASSINGBE Eyadéma, Lomé II, Lomé,Togo</a><br><br>
      
      <h2 style="font-size: 18px; margin-bottom:10px;" routerLink="/country/drc" class="flex w-fit hover:cursor-pointer hover:translate-x-0.5 hover:text-white-500">DRC &nbsp; <img data-popover id="popover-right2" src="/assets/images/flags/drc_flag.jpg" alt="" width="35px"></h2>
      <a href="https://www.google.com/maps/search/No+130B,+Av.+Kwango,+Immeuble+Le+130,+4th+floor,+Kinshasa%2FGombe,+Democratic+Republic+of+Congo./@-4.3114461,15.292621,15z/data=!3m1!4b1" target="_blank" class="hover:cursor-pointer hover:translate-x-0.5 hover:text-amber-500" style="font-size: 14px;">No 130B, Av. Kwango, Immeuble Le 130, 4th floor, Kinshasa/Gombe, Democratic Republic of Congo.</a><br><br>
      
    </div>

    <div>

      <!-- Quicklinks -->
      <div class="findus">
        <!-- <h6 class="text-2xl text-white mb-2" style="font-size: 18px;">Mission</h6>
        <p class="flex flex-wrap text-white" style="font-size: 14px;"> 
          CSquared is a technology company, making commercially driven investments into broadband-enabling infrastructure throughout Africa.
        </p><br> -->
        <h6 class="text-brand-yellow font-bold pb-2" style="font-size: 18px;">More Links</h6>
        <ul class="text-sm text-slate-300 ">
          <li routerLink="/about"
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - About Us
          </li>
          <li
            routerLink="/news"
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - News
          </li>
          <li routerLink="/career"
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - Careers
          </li>
          <li routerLink="/team"
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - Team
          </li>
          <li routerLink="/investors"
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - Investors
          </li>
        </ul>
      </div>
      <!-- End of quick links -->

      
    </div>
  </div>
  <hr style="border-color:white;" >
  <div>
    <div class="flex justify-around gap-10 flex-wrap mt-10 items-center">
      <div class="text-xs md:text-sm text-brand-yellow flex space-x-8">
        <h5>+256-312-180-500</h5>
        <h5 routerLink="/terms-of-service" class="cursor-pointer hover:translate-x-0.5">Terms of Service</h5>
        <h5 routerLink="/privacy-policy" class="cursor-pointer hover:translate-x-0.5">Privacy Policy</h5>
      </div>
      
      <div class="flex justify-center flex-wrap">
        <input type="email" name="" id="" class="pl-2 border-none" placeholder="Send your email">
        <input type="submit" class="bg-brand-yellow p-2 px-3 hover:bg-amber-600 text-white border-none" value="Subscribe">
      </div>

      <div>
        <small class="text-brand-yellow">&#9400;{{currentYear}}, CSquared.  All rights reserved</small>
      </div>
     
    </div>
    
  </div>
</footer>
<!--end footer-->
