.dk-footer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.findus{
  width:22vw;
}
.tweet{
  width:30vw
}

@media only screen and (max-width: 600px) {
  .cs-footer h3{
    font-size: 20px;
  }
  .cs-footer small{
    font-size: 15px;
  }
  .twitter div{
    width: 100%;
  }
  .cs-input-container{
    margin: 2.5rem 0;
  }
  .input-btn input{
    height: 0.5rem;
    font-size: 15px;
  }

  .dk-footer{
    margin: 1rem;
    display: flex;
    justify-content: center;
  }
  .findus{
    width:80vw;
  }
  .tweet{
    display: none;
  }
  .footer-icons{
    width:50vw;
  }
  .btn-send{
    padding:10px;
  }
}
