<!--footer-->
<footer
  class="bg-[url(/assets/images/backgrounds/footer-bg.svg)] bg-cover bg-center p-8 pb-10 relative"
>
  <div>
    <div class="flex justify-center md:pt-16 align-center">
      <div class="text-center w-[700px]">
        <h3 class="text-3xl font-bold text-white">Let’s talk</h3>
        <small class="text-white"
          >Type your thoughts and submit</small
        >
        <div class="mt-12 mx-8 md:mx-0">
          <div class="mt-1 flex rounded-md shadow-sm">
            <div
              class="relative flex items-stretch flex-grow focus-within:z-10"
            >
              <input
                type="text"
                name="search"
                class="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-none rounded-l-md pl-4 sm:text-lg border-gray-300 py-4"
                placeholder="Send your email"
              />
            </div>
            <button
              type="button"
              class="btn-send -ml-px relative inline-flex items-center space-x-2 px-16 py-2 font-medium rounded-r-md text-brand-green font-bold bg-brand-yellow hover:bg-brand-yellow/80 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
            >
              <span>Send</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dk-footer my-32 grid grid-cols-1 lg:grid-cols-12 gap-8">
    <div class="col-span-3 flex justify-left flex-col">
      <div class="h-12 mb-4">
        <img
          src="/assets/images/c_squared_horizontal_logo.png"
          alt="c_squared_horizontal_logo"
        />
      </div>

      <div>
        <h6 class="text-brand-yellow font-bold text-sm">Company</h6>
        <ul class="text-xs text-slate-300">
          <li
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - About Us
          </li>
          <li
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - New
          </li>
          <li
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - Careers
          </li>
          <li
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - Press
          </li>
          <li
            class="py-0.5 hover:translate-x-0.5 transition-all cursor-pointer"
          >
            - Business & Groups
          </li>
        </ul>
      </div>
    </div>
    <div style="width: 30vw;" class="tweet">
      <ng-twitter-timeline
        [dataSrc]="{ sourceType: 'profile', screenName: 'CSquared_Africa' }"
        [opts]="{ tweetLimit: 1 }"
      ></ng-twitter-timeline>
    </div>
    <div class="footer-icons col-span-4 flex flex-col text-center justify-center">
      <div class="flex space-x-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 fill-white"
          viewBox="0 0 512 512"
        >
          <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
          <path
            d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 fill-white"
          viewBox="0 0 448 512"
        >
          <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
          <path
            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 fill-white"
          viewBox="0 0 448 512"
        >
          <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
          <path
            d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"
          />
        </svg>
      </div>

      <div>
        <button
          class="mt-5 flex items-center border border-white font-medium rounded-full shadow-sm text-white hover:bg-brand-yellow focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-yellow rounded px-8 py-0.5 text-lg shadow"
        >
          <span>English</span>
          <span class="ml-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-white h-5"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
              />
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="flex justify-center mt-8">
      <div class="text-xs md:text-sm text-brand-yellow flex space-x-8">
        <h5>+1 361-301-0959</h5>
        <h5>Terms of Service</h5>
        <h5>Privacy Policy</h5>
      </div>
    </div>
  </div>
</footer>
<!--end footer-->
