<!-- headers section -->
<section class="bg-slate-200 h-[50vh] md:h-[90vh] flex mx-auto ml-0 mr-0 justify-center">
	<div class="flex justify-center py-28 align-center">
    <div class="text-center max-w-[700px]">
      <h1 class="font-bold text-3xl md:text-5xl leading-normal text-brand-green">
        Today, <span class="text-yellow-600">any</span>one can get Lightspeed Network.</h1>

      <div class="mt-12 mx-8 md:mx-0">
        <div class="mt-1 flex rounded-md shadow-sm">
          <div class="relative flex items-stretch flex-grow focus-within:z-10">
            <input type="text" name="search" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-none rounded-l-md pl-4 text-sm sm:text-lg border-gray-300 py-4" placeholder="Check areas with network coverage">
          </div>
          <button type="button" class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 text-sm md:text-lg font-medium rounded-r-md text-brand-green font-bold bg-brand-yellow hover:bg-brand-yellow/80 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
            <!-- Heroicon name: solid/sort-ascending -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>

            <span>Find Out</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- end headers section -->
