<div class="body">
  <div class="career-container">
    <div class="career-header">
      <img src="../../assets/images/backgrounds/cheatahs.jpg" alt="" />
    </div>
  
    <h1>Careers</h1>
    <div class="career-description">
      <h2>Product Manager</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat.
      </p>
    </div>
  
    <div class="jd">
      <h2>Basic Job Information</h2>
      <div class="jdprop">
        <h3>Job category</h3>
        <p>: IT(Software)</p>
      </div>
      <div class="jdprop">
        <h3>Job level</h3>
        <p>: [6]</p>
      </div>
  
      <div class="jdprop">
        <h3>Location</h3>
        <p>: Kathmandu, Nepal</p>
      </div>
      <div class="jdprop">
        <h3>Offered salary</h3>
        <p>: $500/month (negotiable)</p>
      </div>
  
      <div class="jdprop">
        <h3>Apply before</h3>
        <p>: 11th Sept, 2022</p>
      </div>
    </div>
  
    <div class="jd">
      <h1>Job description:</h1>
      <p>
        We are looking for highly potential candidate  ..........................................................................................................
        ........................................................................................................................................................................................................
        ........................................................................................................................................................................................................
        ........................................................................................................................................................................................................
      </p>
      <h2>Requirements:</h2>
      <p>
        1. 1/2 years experience
        <br />
        2. Academic: Bachelor/High School
        <br />
        3. Expert in HTML, CSS JS
        <br />
        4. Experience with RDBMS
        <br />
        5. Integration of payment system
        <br />
        6. Should be able to work on bug fixing and maintain code quality
        <br />
        7. Good knowledge of modern UI/UX standards
        <br />
      </p>
  
      <h1>Other skills</h1>
  
      <p>
        1. Communication skills
        <br />
        2. +ve attitude
        <br />
        3. Curious to learn and adapt new technologies
        <br />
        4. Time management
        <br />
        5. Team work
        <br />
        6. Meeting client requirements
        <br />
      </p>
    </div>
   
  </div>
  
   <div class="footer">
    <app-footer></app-footer>
   </div>
  
  
</div>