<section>
	<div class="about-bg">
        <h1 class="p-4 text-extrabold md:pl-28 text-[40px] md:mb-2">About Us</h1>
        <p class="w-[100vw] text-bold p-4 md:pl-28 text-[16px] md:text-[22px]  md:w-[65vw]">Learn more about C-Squared here </p>

    </div>

	<div class="section-container" >
        <div class="single-section" *ngFor="let section of sections; let i = index">
            <div class="section-img" *ngIf="(i%2==0)">
                <img src="{{section.image}}" alt="Specialist">
            </div>
            <div class="section-info" *ngIf="(i%2==0)">
                <h2>{{section.title}}</h2><br>
                {{section.description}}<br><br>
                <!-- <button class="btn btn-warning" *ngIf="i==0">Explore More</button>
                <button class="btn btn-success" *ngIf="i!==0">Learn More</button> -->
            </div>

            <div class="section-info2" *ngIf="(i%2!==0)">
                <h2>{{section.title}}</h2><br>
                {{section.description}}<br><br>
            </div>
            <div class="section-img" *ngIf="(i%2!==0)">
                <img src="{{section.image}}" alt="Specialist">
            </div>
        </div>
        <!-- <button *ngIf="active" class="btn btn-success pl-10 pr-10 m-10"><b>Learn More About Us</b></button> -->
    </div>

</section>

<!-- Displays the team members and  -->
<div class="team">
	<div class="members min-w-[250px]" *ngFor="let manager of managers; let i = index" >
		<img src="{{manager.image}}" alt="Manager" width="130%" class="min-w-[250px] h-[45vh]" (click)="viewTeamMember(i)" routerLink='/team/{{i}}' data-aos="flip-left">
		<!-- <div class="rank">
			<h3>{{manager.name}}</h3>
			{{manager.rank}}
		</div> -->
	</div>
</div>

<app-footer></app-footer>