section{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.about{
    max-height: 50vh;
    margin-bottom: 5vh;
}
.about_img>img{
    width:100vw;
    object-fit: cover;
    height: 50vh;
}
.about-bg{
    /* margin-top: 10vh; */
    width: 100%;
    height: 35vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./../../assets/images/backgrounds/blog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    object-fit: cover;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    width:80%;
    margin-top: -120px;
    border-radius: 10px;
    box-shadow: rgb(240, 239, 239) 2px 2px;
}
.singlecard{
    display: flex;
    padding:40px;
    align-items: center;
    gap:15px;
}
h2{
    font-size: 25px;
    font-weight: bold;

}
.cardtext{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.section-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.single-section{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
}
.section-img{
    /* width: 43%; */
    display: flex;
    justify-content: center;
}
.section-img > img{
    width: 80%;
    height: 270px;
    border-radius: 10px;
}

.section-info{
    width:35%;
    text-align: justify;
}
.section-info2{
    width:35%;
    margin-left:90px ;
    text-align: justify;
}

h2{
    font-weight: bold;
}

.team{
    display: flex;
    justify-content: center;
    gap:31px;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-right: 5vw;
}

.members{
    padding-bottom: 50px;
    width: 23vw;
}
.members > img{
    border-radius: 10px;
    /* height: 55vh; */
    cursor: pointer;
}

.rank{
    margin-top: -80px;
    margin-left: 10px;
    color: white;
}

h3{
    font-size: 20px;
    font-weight: bold;
}