<section>
	<div class="about-bg bg-gradient-to-r from-green-500 to-blue-500">
        <div class="md:w-[40vw] min-w-[250px]">
            <div class="mission m-10" *ngIf="sections">
                <h1 class="font-bold mb-4">Mission</h1>
                <p class="text-[14px] md:text-[18px]">To enable greater access to high quality broadband access across Africa’s major cities by investing in internet infrastructure and availing it to local Internet Service Providers (ISPs) and mobile network operators (MNOs).</p>
            </div>
            <div class="vision m-10" *ngIf="sections">
                <h1 class="font-bold mb-4">Vision</h1>
                <p class="text-[14px] md:text-[18px]">
                    To provide high-speed reliable internet access across all African countries, connecting people and enterprises through working with local providers.
                </p>
            </div>
            <div class="vision m-10" *ngIf="managers">
                <h1 class="font-bold mb-4">Our Team</h1>
                <p class="text-[14px] md:text-[18px]">
                    To provide high-speed reliable internet access across all African countries, connecting people and enterprises through working with local providers.
                </p>
            </div>
        </div>
        <div>
            <div class="about-img min-w-[250px]" *ngIf="sections">
                <img src="/assets/images/satisfaction.png" alt="" class="w-[200px] md:w-[30vw]">
            </div>
            <div class="about-img min-w-[250px]" *ngIf="managers">
                <img src="/assets/images/team.jpg" alt="" class="w-[200px] md:w-[30vw]">
            </div>
        </div>
    </div>

	<div class="section-container" >
        
        <div class="single-section" *ngFor="let section of sections; let i = index">
            <div class="section-img" *ngIf="(i%2==0)">
                <img src="{{section.image}}" alt="Specialist">
            </div>
            <div class="section-info" *ngIf="(i%2==0)">
                <h2>{{section.title}}</h2><br>
                {{section.description}}<br><br>
                <!-- <button class="btn btn-warning" *ngIf="i==0">Explore More</button>
                <button class="btn btn-success" *ngIf="i!==0">Learn More</button> -->
            </div>

            <div class="section-info2" *ngIf="(i%2!==0)">
                <h2>{{section.title}}</h2><br>
                {{section.description}}<br><br>
            </div>
            <div class="section-img" *ngIf="(i%2!==0)">
                <img src="{{section.image}}" alt="Specialist">
            </div>
        </div>
        <!-- <button *ngIf="active" class="btn btn-success pl-10 pr-10 m-10"><b>Learn More About Us</b></button> -->
    </div>

</section>

<!-- Displays the team members and  -->
<h1 class="flex justify-center mb-4 font-bold text-[18px]">Our Officials</h1>
<div class="team">   
	<div class="members min-w-[250px]" *ngFor="let manager of managers; let i = index" >
		<img src="{{manager.image}}" alt="Manager" width="130%" class="min-w-[250px] h-[45vh]" (click)="viewTeamMember(i)" data-aos="flip-left" data-modal-target="popup-modal" data-modal-toggle="popup-modal" type="button">
		<!-- <div class="rank">
			<h3>{{manager.name}}</h3>
			{{manager.rank}}
		</div> -->
	</div> 
    <div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative md:h-auto  flex justify-center items-center">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="popup-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="flex justify-center gap-4 p-4 text-justify flex-wrap md:flex-nowrap md:w-[50vw]">
                    <img src="{{teamMember.image}}" class="hidden md:flex min-w-[250px] h-[45vh]" alt="Image">
                    <p class="min-w-[250px] md:w-[25vw] text-[12px] flex-wrap md:flex-nowrap pt-2">{{teamMember.description}}</p>
                </div>
            </div>
        </div>
    </div>
  
</div>

<app-footer></app-footer>