<section>
	<div class="about-bg bg-gradient-to-r from-green-500 to-blue-500">
        <div class="md:w-[40vw] min-w-[250px]">
            <div class="mission m-10" *ngIf="sections">
                <h1 class="font-bold mb-4">Mission</h1>
                <p class="text-[14px] md:text-[18px]">
                    CSquared is a technology company, committed to a digitally connected Africa by making impactful investments into open-access broadband enabling infrastructure throughout Africa.
                </p>
            </div>
            <div class="vision m-10" *ngIf="sections">
                <h1 class="font-bold mb-4">Vision</h1>
                <p class="text-[14px] md:text-[18px]">
                    A Digitally Connected Africa.
                </p>
            </div>
            <div class="vision m-10" *ngIf="managers">
                <h1 class="font-bold mb-4">Our Team</h1>
                <p class="text-[14px] md:text-[18px]">
                    To provide high-speed reliable internet access across all African countries, connecting people and enterprises through working with local providers.
                </p>
            </div>
        </div>
        <div>
            <div class="about-img min-w-[250px]" *ngIf="sections">
                <img src="/assets/images/satisfaction.png" alt="" class="w-[200px] md:w-[30vw]">
            </div>
            <div class="about-img min-w-[250px]" *ngIf="managers">
                <img src="/assets/images/team.jpg" alt="" class="w-[200px] md:w-[30vw]">
            </div>
        </div>
    </div>

	<div class="section-container" >
        
        <div class="single-section" *ngFor="let section of sections; let i = index">
            <div class="section-img" *ngIf="(i%2==0)">
                <img src="{{section.image}}" alt="Specialist">
            </div>
            <div class="section-info" *ngIf="(i%2==0)">
                <h2>{{section.title}}</h2><br>
                {{section.description}}<br><br>
                <!-- <button class="btn btn-warning" *ngIf="i==0">Explore More</button>
                <button class="btn btn-success" *ngIf="i!==0">Learn More</button> -->
            </div>

            <div class="section-info2" *ngIf="(i%2!==0)">
                <h2>{{section.title}}</h2><br>
                {{section.description}}<br><br>
            </div>
            <div class="section-img" *ngIf="(i%2!==0)">
                <img src="{{section.image}}" alt="Specialist">
            </div>
        </div>
        <!-- <button *ngIf="active" class="btn btn-success pl-10 pr-10 m-10"><b>Learn More About Us</b></button> -->
    </div>

</section>

<!-- Displays the team members and  -->
<h1 *ngIf="managers" class="flex justify-center mb-4 font-bold text-[18px]">Our Officials</h1>

<div *ngIf="managers" class="flex flex-col sm:flex-col md:flex-row">   
    <div class="flex flex-col w-full md:w-[20vw] p-2 italic">
    
        <hr>
        <p class="p-2 cursor-pointer hover:text-blue-500" (click)="filterManagement('top-management')"> <a>Board Company Representatives</a> </p>
        <hr>
        <p class="p-2 cursor-pointer hover:text-blue-500" (click)="filterManagement('executives')"> <a>Executives</a> </p>
        <hr>
        <p class="p-2 cursor-pointer hover:text-blue-500" (click)="filterManagement('')"> <a>Show all</a> </p>
        <hr>
    
    </div><br>
    <div class="w-[100vw] flex flex-wrap gap-[20px] justify-center">
        <div class="members min-w-[250px] relative" *ngFor="let manager of filteredmanagers; let i = index" >
            <img src="{{manager.image}}" alt="Manager" width="130%" class="min-w-[250px] h-[30vh] md:h-[45vh]" (click)="viewTeamMember(i)" data-aos="flip-left" data-bs-toggle="modal"
            data-bs-target="#myModal" type="button">
            <div class="text-white text-[20px] font-bold absolute bottom-[50px] left-[30px]">
                <h1 class="text-[18px]">{{manager.name}}</h1>
                <h1 class="text-[18px]">{{manager.rank}}</h1>
            </div>
            <!-- Modal -->
            <div
            class="modal fade"
            id="myModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header flex">
                  <h5 class="modal-title" id="staticBackdropLabel" style="color: black">
                    {{teamMember.name}}
                  </h5>
                  <button
                    class="btn-close d-flex"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="p-10" style="color: black; padding: 20px 10px">
                    <div class="flex justify-center gap-4 p-4 text-justify flex-wrap md:flex-nowrap md:w-[100%]">
                        <img src="{{teamMember.image}}" class="hidden md:flex min-w-[250px] h-[45vh]" alt="Image">
                        <p class="min-w-[250px] md:w-[25vw] text-[12px] flex-wrap md:flex-nowrap pt-2">{{teamMember.description}}</p>
                        <div class="w-full flex justify-around">
                            <a href="https://www.facebook.com/csquaredafricagroup/" target="_blank">
                            <i class="bi bi-facebook text-blue-500 text-xl hover:text-blue-600"></i>
                            </a>
                    
                            <a href="https://www.youtube.com/@csquaredafrica" target="_blank">
                            <i class="bi bi-youtube text-red-500 text-xl hover:text-red-600"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/csquaredafrica" target="_blank">
                            <i class="bi bi-linkedin text-blue-500 text-xl hover:text-blue-600"></i>
                            </a>
                    
                            <a href="https://twitter.com/CSquared_Africa?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"  target="_blank">
                            <i class="bi bi-twitter text-blue-500 text-xl hover:text-blue-600"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="display: flex"></div>
              </div>
            </div>
          </div>
        </div> 
    </div>
    

    <!-- Button trigger modal --> 
</div>

<app-footer></app-footer>