<div class="body bg-green-100" *ngIf="fiberservices">
  <div
    class="cloudservices-bg bg-gradient-to-r from-green-500 to-blue-500"
  >
    <div class="flex flex-wrap justify-center items-center gap-20">
      <div class="pt-10 pb-10 w-[70vw] md:w-[40vw]">
        <h1 class="mb-4 text-[18px] md:text-[24px]">{{ fiberservices.title }}</h1>
        <h1 class="text-[14px] md:text-[20px]">{{ fiberservices.subtitle }}</h1>
      </div>
      <div >
        <img class="hidden md:block" src="{{ fiberservices.image }}" alt="" style="border-radius: 50%;"/>
      </div>
    </div>
  </div>
  <div class="service-container">
    <div class="single-service">
      <div class="service-img">
        <img
          style="object-fit: cover"
          src="{{ fiberservices.image }}"
          alt="Specialist"
        />
      </div>
      <div class="service-info">
        <h2>{{ fiberservices.title }}</h2>
        <br />
        {{ fiberservices.description }}<br /><br />
        <button
          class="btn btn-warning hover:bg-amber-600"
          onclick=" window.open('./../../assets/csquared-brochure.pdf'); return true;"
        >
        Read products brochure
        </button>
      </div>
    </div>
  </div>
  <h1
    class="flex flex-row justify-center pt-10 pb-10"
    style="font-size: 22px; font-weight: bold"
  >
    All solutions
  </h1>
  <div class="flex flex-wrap justify-center items-center gap-10 pb-10">
    <div *ngFor="let other of Allfiberservices">
      <div
        class="flex flex-wrap justify-center items-center w-[250px] h-[20vh] p-10 bg-green-700 hover:bg-green-900"
      >
        <h1 class="text-white text-2xl">{{ other.title }}</h1>
        <!-- <p>{{other.description}}</p> -->
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>


<!-- Display cloud services if available -->
<div class="body bg-green-100" *ngIf="cloudservices">
  <div
    class="cloudservices-bg bg-gradient-to-r from-green-500 to-blue-500"
  >
    <div class="flex flex-wrap justify-center items-center gap-10">
      <div class="pt-10 pb-10 w-[70vw] md:w-[40vw]">
        <h1 class="mb-4 text-[18px] md:text-[24px]">{{ cloudservices.title }}</h1>
        <h1 class="text-[14px] md:text-[20px]">{{ cloudservices.subtitle }}</h1>
      </div>
      <div >
        <img class="hidden md:block" src="{{ cloudservices.image }}" alt="" style="border-radius: 50%;"/>
      </div>
    </div>
  </div>
  <div class="service-container">
    <div class="single-service">
      <div class="service-img">
        <img
          style="object-fit: cover"
          src="{{ cloudservices.image }}"
          alt="Specialist"
        />
      </div>
      <div class="service-info">
        <h2>{{ cloudservices.title }}</h2>
        <br />
        {{ cloudservices.description }}<br /><br />
        <button
          class="btn btn-warning"
          onclick=" window.open('./../../assets/csquared-brochure.pdf'); return true;"
        >
          Read products brochure
        </button>
      </div>
    </div>
    <h1
      class="flex flex-row justify-center pt-10 pb-10"
      style="font-size: 22px; font-weight: bold"
    >
      All solutions
    </h1>
    <div class="flex flex-wrap justify-center items-center gap-10 pb-10">
      <div *ngFor="let other of Allcloudservices">
        <div
          class="flex flex-wrap justify-center items-center w-[250px] h-[20vh] p-10 bg-green-700  hover:bg-green-900"
        >
          <h1 class="text-white text-2xl">{{ other.title }}</h1>
          <!-- <p>{{other.description}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
