.body{
    /* margin-top: 10vh; */
    padding: 0;
    overflow-x: hidden; 
 }
.fiber-bg{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    overflow: hidden;
}
.cloudservices-bg{
    width: 100%;
    /* height: 45vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    overflow: hidden;
}

.service-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 70px;
}
.single-service{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
}

.service-img{
    display: flex;
    justify-content: center;
}
.service-img > img{
    width: 90%;
    border-radius: 10px;
}
.service-img > img:hover{
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    /* margin-bottom: 1.5%; */
}
.service-info{
    width:35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: bold;
}
.description{
    display:none;
}
/* .service-title:hover{
    display:none
}
.service-title:hover + .description{
    display:flex;
    
} */
@media screen and (max-width:768px) {
    .service-info{
        width:80%;
    }
}