.body{
    /* margin-top: 10vh; */
    padding: 0;
    overflow-x: hidden; 
 }
.fiber-bg{
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    overflow: hidden;
}
.cloudservices-bg{
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.service-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 70px;
}
.single-service{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
}

.service-img{
    display: flex;
    justify-content: center;
}
.service-img > img{
    width: 80%;
    border-radius: 10px;
}
.service-img > img:hover{
    width: 78%;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1.5%;
}
.service-info{
    width:35%;
}

h2{
    font-weight: bold;
}
@media screen and (max-width:768px) {
    .service-info{
        width:80%;
    }
}