<nav class="navbar navbar-expand-lg navigation" data-bs-theme="dark">
    <a class="navbar-brand" href="#" style="padding-top:15px ;padding-bottom:15px;padding-left:60px  ">
        <img src="./../../assets/images/c_squared_horizontal_logo.png" alt="Logo" width="120" height="24" class="d-inline-block align-text-top">
    </a>
    <ul class="menu-container">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Coverage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Insights</a>
        </li>
        <li>
          <select (change)="redirectServices($event)" class="services-options">
            <option *ngFor="let service of services" value="{{service.code}}">{{service.name}}</option>
          </select>
        </li>
        <li class="nav-item">
          <select (change)="redirectAbout($event)" class="services-options">
            <option *ngFor="let submenu of Aboutsubmenus" value="{{submenu.code}}">{{submenu.name}}</option>
          </select>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
    </ul>
  
    <select name="" id="select-country"   (change)="navigateTo($event)">
        <option *ngFor="let country of countries" value={{country.code}}>
          <img src={{country.flag}} class="h-5 w-5 shrink-0 grow-0 rounded-full border-1 border-brand-green" alt="{{country.name}}" />
          {{country.name}}</option>
    </select>
</nav>
