.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #073937;
    align-items: center;
    position: fixed;
    width:100%;
    
}
.menu-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    color:white;
}
#select-country{
    background-color: transparent;
    color:white;
    border: none;
}
option{
    color:black;
    margin:5px 20px 5px 20px;
}

select{
    background-color: transparent;
    color: white;
    border: none;
}