.navbar{
  display: flex;
  justify-content: space-around;
  background-color: #073937;
  align-items: center;
  position: fixed;
  width:100%;
  z-index: 9999;
  top: 0;
  height: 10vh;
}

.dropdown-toggle{
  color: white;
  padding: 0;
}
.services-dropdown{
  width: 100vw;
  margin-top: calc(100vh - 90vh);
  background-color: #073937;
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 9999;
  color: white;
}
.menu-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:40px;
  color:white;
}
#select-country{
  background-color: transparent;
  color:white;
  border: none;
}
option{
  color:black;
  margin:5px 20px 5px 20px;
  padding:50px;
}

.services-options{
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
}
.about-options{
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
}
select{
  background-color: white;
}
select:hover option.dropdown{
  display: block;
}
@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: flex-start;
    /* border: 1px solid red; */

    /* align-items: flex-start; */
    /* grid-template-columns: auto auto auto; */
  }
  .navbar-brand {
    /* border: 1px solid red; */
    padding: 0;
  }

  .menu-container {
    gap: 5px;
    flex-wrap: nowrap;
  }
  .nav-item {
    height: 1.5rem;
    display: flex;
    align-items: center;
  }
  /*  */
  .nav-item a,
  .nav-item select,
  select {
    font-size: 9px;
  }
  /*  */
  .nav-item select {
    position: fixed;
    width:100%;
    z-index: 9999;
    top: 0;
}
/*  */
.menu-container{
    display: flex;
    justify-content: flex-start;
    width: 3.4rem;
    height: fit-content;
  }
  option {
    margin: 0;
  }
}