<nav class="navbar navbar-expand-lg navigation" data-bs-theme="dark">
    <a class="navbar-brand" href="#" style="padding-top:15px ;padding-bottom:15px;padding-left:60px  ">
        <img src="./../../assets/images/c_squared_horizontal_logo.png" alt="Logo" width="120" height="24" class="d-inline-block align-text-top">
    </a>
    <ul class="menu-container">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Coverage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Insights</a>
        </li>
        <li>
          <select routerLink="/services">
            <option routerLink="/services">Services</option>
            <option routerLink="/services/wholesale-fiber">wholesale Fiber</option>
            <option routerLink="/services/cloud-solutions">Cloud Services</option>
          </select>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
    </ul>
  
    <select name="" id="select-country"   (change)="navigateTo($event)">
        <option *ngFor="let country of countries" value={{country.code}} > {{country.name}}</option>
        <!-- <option value="kenya"><img src="./../../assets/images/flags/kenya.png" alt="Ke">Kenya</option>
        <option value="kenya" routerLink="/country/ug">Uganda</option>
        <option value="kenya">Ghana</option>
        <option value="kenya">DRC</option>
        <option value="kenya">Togo</option>
        <option value="kenya">Liberia</option> -->
    </select>
</nav>
