<div class="body">
    <div class="contact-container">
        <div class="contact-header">
                <img style="object-fit:cover;" src="../../assets/images/backgrounds/cheatahs.jpg" alt="">
                <h1>GET IN TOUCH</h1>
        </div>
        
        <h1>LET'S ANSWER YOUR QUERIES</h1>
        
        
        <div class="form">
            <div class="form-left">
                <div>
                    <p>FIRST NAME</p>
                    <input type="text">
                </div>
        
                 <div>
                    <p>LAST NAME</p>
                    <input type="text">
                </div>
        
                 <div>
                    <p>E-MAIL</p>
                    <input type="text">
                </div>
            </div>
        
            <div class="form-right">
                <textarea name="" id="" cols="30" rows="10">
                    LEAVE US A MESSAGE
                </textarea>
                <button>SUBMIT</button>
            </div>
        </div>
        
        <h1 class="footer-header"> COME VISIT US </h1>
        
        
        <div class="footer">
            
        <div class="footer1">
        
            <div class="footer-div">
                <h3>
            14TH FLOOR, DUNHILL TOWERS WAIYAKI WAY,
             <br>
            NAIROBI, KENYA
             <br>
            (505) 299-5051
                </h3>
            </div>
        
            
            <div class="footer-div">
                <h3>
        
            7TH FLOOR,ACCRA FINANCIAL CENTER,
             <br>
            ACCRA, GHANA
             <br>
            (519) 734-6500
                </h3>
            </div>
        
        </div>
        
        <div class="footer1">
            <div class="footer-div">
                <h3>
                   1ST FLOOR, PLOT 7/11 GT BANK BUILDING,
            <br>
            BUGANDA ROAD, KAMPALA, UGANDA
             <br>
                (505) 299-5051
                </h3>
            </div>
          
            <div class="footer-div">
                <h3>
                   1ST FLOOR,,ICA BUILDING,6TH STREET
            <br>
            SINKOR, TUBMAN BOULEVARD, MONROVIA
             <br>
                (519) 734-6500
                </h3>
            </div>
        </div>
        
        
        
        <div class="footer3">
        
                <div class="footer-div">
                <h3>
                FELIX HOUSE,24 DR. JOSEPH RIVIERE STREET
             <br>
                PORT LOUIS, MAURITIUS
             <br>
            (505) 299-5051
                </h3>
            </div>
        
            <div class="footer-div">
                <h3>
                1481 FRONT, WINDSOR
             <br>
                ONTARIO ,CANADA
             <br>
            (519) 734-6500
                </h3>
            </div>
        </div>
        
        </div>
        
        </div>
        
        <div class="social-footer">
            <h1>FOLLOW OUR SOCIALS</h1>
          <div class="socials">
              <img src="../../assets/images//socialmedia/facebook-app-symbol.png" alt="">
              <img src="../../assets/images//socialmedia/instagram.png" alt="">
              <img src="../../assets/images//socialmedia/discord.png" alt="">
          </div>
        </div>
</div>