<div class="body">
  <div class="contact-container">
    <div class="contact-header">
      <h1>GET IN TOUCH</h1>
    </div>

    <h1>LET'S ANSWER YOUR QUERIES</h1>

    <div class="form">
      <div class="form-left">
        <div>
          <p>FIRST NAME</p>
          <input type="text" />
        </div>

        <div>
          <p>LAST NAME</p>
          <input type="text" />
        </div>

        <div>
          <p>E-MAIL</p>
          <input type="text" />
        </div>
      </div>

      <div class="form-right">
        <textarea name="" cols="30" rows="10" placeholder="LEAVE US A MESSAGE">
        </textarea>
        <button>SUBMIT</button>
      </div>
    </div>

    <h1 class="footer-header">COME VISIT US</h1>

    <div class="footer">
      <div class="footer1">
        <div class="footer-div1">
          <div class="imgcontainer">
            <img src="./../../assets/Csquared/nairobi.jpg" alt="Nairobi" />
            <div class="centered">KENYA</div>
          </div>
          <div class="overlay">
            <h3>
              14TH FLOOR, DUNHILL TOWERS WAIYAKI WAY,
              <br />
              NAIROBI, KENYA
              <br />
              (505) 299-5051
            </h3>
          </div>
        </div>
      </div>

      <div class="footer6">
        <div class="footer-div6">
          <div class="imgcontainer">
            <img src="./../../assets/Csquared/nairobi.jpg" alt="Accra" />
            <div class="centered">GHANA</div>
          </div>
          <div class="overlay">
            <h3>
              7TH FLOOR,ACCRA FINANCIAL CENTER,
              <br />
              ACCRA, GHANA
              <br />
              (519) 734-6500
            </h3>
          </div>
        </div>
      </div>

      <div class="footer2">
        <div class="footer-div2">
          <div class="imgcontainer">
            <img src="./../../assets/Csquared/nairobi.jpg" alt="Kampala" />
            <div class="centered">UGANDA</div>
          </div>
          <div class="overlay">
            <h3>
              1ST FLOOR, PLOT 7/11 GT BANK BUILDING,
              <br />
              BUGANDA ROAD, KAMPALA, UGANDA
              <br />
              (505) 299-5051
            </h3>
          </div>
        </div>
      </div>

      <div class="footer3">
        <div class="footer-div3">
          <div class="imgcontainer">
            <img src="./../../assets/Csquared/nairobi.jpg" alt="Monrovia" />
            <div class="centered">MONROVIA</div>
          </div>
          <div class="overlay">
            <h3>
              1ST FLOOR,,ICA BUILDING,6TH STREET
              <br />
              SINKOR, TUBMAN BOULEVARD, MONROVIA
              <br />
              (519) 734-6500
            </h3>
          </div>
        </div>
      </div>

      <div class="footer4">
        <div class="footer-div4">
          <div class="imgcontainer">
            <img src="./../../assets/Csquared/nairobi.jpg" alt="Mauritius" />
            <div class="centered">MAURITIUS</div>
          </div>
          <div class="overlay">
            <h3>
              FELIX HOUSE,24 DR. JOSEPH RIVIERE STREET
              <br />
              PORT LOUIS, MAURITIUS
              <br />
              (505) 299-5051
            </h3>
          </div>
        </div>
      </div>

      <div class="footer5">
        <div class="footer-div5">
          <div class="imgcontainer">
            <img src="./../../assets/Csquared/nairobi.jpg" alt="Canada" />
            <div class="centered">CANADA</div>
          </div>
          <div class="overlay">
            <h3>
              1481 FRONT, WINDSOR
              <br />
              ONTARIO ,CANADA
              <br />
              (519) 734-6500
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-footer">
    <h1>FOLLOW OUR SOCIALS</h1>
    <div class="socials">
      <img
        src="../../assets/images//socialmedia/facebook-app-symbol.png"
        alt=""
      />
      <img src="../../assets/images//socialmedia/instagram.png" alt="" />
      <img src="../../assets/images//socialmedia/discord.png" alt="" />
    </div>
  </div>
</div>
