<div class="body">

  <div>
    <h1 class="flex justify-center md:text-3xl font-bold text-slate-600 !my-5">
      Come Visit Us
    </h1>

    <div class="footer">
      <a class="footer1" routerLink="../country/kenya">
        <div class="footer-div1">
          <div class="imgcontainer">
            <img src="./assets/images/CountryImages/KenyaFlag.jpg" alt="Nairobi" />
            <div class="centered">KENYA</div>
          </div>
          <div class="overlay">
            <h3>
              14TH FLOOR, DUNHILL TOWERS WAIYAKI WAY,
              <br />
              NAIROBI, KENYA
              <br />
              (505) 299-5051
            </h3>
          </div>
        </div>
      </a>

      <a class="footer6"  routerLink="../country/ghana">
        <div class="footer-div6">
          <div class="imgcontainer">
            <img src="./assets/images/CountryImages/GhanaFlag.jpg" alt="Accra" />
            <div class="centered">GHANA</div>
          </div>
          <div class="overlay">
            <h3>
              7TH FLOOR,ACCRA FINANCIAL CENTER,
              <br />
              ACCRA, GHANA
              <br />
              (519) 734-6500
            </h3>
          </div>
        </div>
      </a>

      <a class="footer2"  routerLink="../country/uganda">
        <div class="footer-div2">
          <div class="imgcontainer">
            <img src="./assets/images/CountryImages/UgandaFlag.jpg" alt="Kampala" />
            <div class="centered">UGANDA</div>
          </div>
          <div class="overlay">
            <h3>
              1ST FLOOR, PLOT 7/11 GT BANK BUILDING,
              <br />
              BUGANDA ROAD, KAMPALA, UGANDA
              <br />
              (505) 299-5051
            </h3>
          </div>
        </div>
      </a>

      <a class="footer3"  routerLink="../country/drc">
        <div class="footer-div3">
          <div class="imgcontainer">
            <img src="./assets/images/CountryImages/DRCFlag.jpg" alt="drc" />
            <div class="centered">DRC</div>
          </div>
          <div class="overlay">
            <h3>
              1ST FLOOR,,ICA BUILDING,6TH STREET
              <br />
              SINKOR, TUBMAN BOULEVARD, MONROVIA
              <br />
              (519) 734-6500
            </h3>
          </div>
        </div>
      </a>

      <a class="footer4"  routerLink="../country/togo">
        <div class="footer-div4">
          <div class="imgcontainer">
            <img src="./assets/images/CountryImages/TogoFlag.jpg" alt="togo" />
            <div class="centered">TOGO</div>
          </div>
          <div class="overlay">
            <h3>
              FELIX HOUSE,24 DR. JOSEPH RIVIERE STREET
              <br />
              PORT LOUIS, MAURITIUS
              <br />
              (505) 299-5051
            </h3>
          </div>
        </div>
      </a>

      <a class="footer5"  routerLink="../country/liberia">
        <div class="footer-div5">
          <div class="imgcontainer">
            <img src="./assets/images/CountryImages/LiberiaFlag.jpg" alt="liberia" />
            <div class="centered">LIBERIA</div>
          </div>
          <div class="overlay">
            <h3>
              1481 FRONT, WINDSOR
              <br />
              ONTARIO ,CANADA
              <br />
              (519) 734-6500
            </h3>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="bg-gray-100">
    <div class="max-w-7xl mx-auto !py-16 !px-4 !sm:py-24 !sm:px-6 !lg:px-8">
      <div class="relative bg-white shadow-xl">
        <h2 class="sr-only">Contact us</h2>

        <div class="grid grid-cols-1 lg:grid-cols-3">
          <!-- Contact information -->
          <div
            class="relative overflow-hidden !py-10 !px-6 bg-brand-green !sm:px-10 !xl:p-12"
          >
            <div
              class="absolute inset-0 pointer-events-none sm:hidden"
              aria-hidden="true"
            >
              <svg
                class="absolute inset-0 w-full h-full"
                width="343"
                height="388"
                viewBox="0 0 343 388"
                fill="none"
                preserveAspectRatio="xMidYMid slice"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z"
                  fill="url(#linear1)"
                  fill-opacity=".1"
                />
                <defs>
                  <linearGradient
                    id="linear1"
                    x1="254.553"
                    y1="107.554"
                    x2="961.66"
                    y2="814.66"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#fff"></stop>
                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <div
              class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none sm:block lg:hidden"
              aria-hidden="true"
            >
              <svg
                class="absolute inset-0 w-full h-full"
                width="359"
                height="339"
                viewBox="0 0 359 339"
                fill="none"
                preserveAspectRatio="xMidYMid slice"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z"
                  fill="url(#linear2)"
                  fill-opacity=".1"
                />
                <defs>
                  <linearGradient
                    id="linear2"
                    x1="192.553"
                    y1="28.553"
                    x2="899.66"
                    y2="735.66"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#fff"></stop>
                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <div
              class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none lg:block"
              aria-hidden="true"
            >
              <svg
                class="absolute inset-0 w-full h-full"
                width="160"
                height="678"
                viewBox="0 0 160 678"
                fill="none"
                preserveAspectRatio="xMidYMid slice"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z"
                  fill="url(#linear3)"
                  fill-opacity=".1"
                />
                <defs>
                  <linearGradient
                    id="linear3"
                    x1="192.553"
                    y1="325.553"
                    x2="899.66"
                    y2="1032.66"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#fff"></stop>
                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <h3 class="text-2xl font-medium text-white">Contact information</h3>
            <p class="!mt-6 text-base text-indigo-50 max-w-3xl">
              Feel free to contact us with any concerns, views or requests. You
              can also just drop a thank you note if you appreciate our
              services.
            </p>
          </div>

          <!-- Contact form -->
          <form
            [formGroup]="form"
            (ngSubmit)="SubmitIssue()"
            class="!py-10 !px-6 !sm:px-10 lg:col-span-2 !xl:p-12"
          >
            <!-- Success message -->
            <div
              class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"
              role="alert"
              *ngIf="view"
            >
              <div class="flex">
                <div class="py-1">
                  <svg
                    class="fill-current h-6 w-6 text-teal-500 mr-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                    />
                  </svg>
                </div>
                <div>
                  <p class="font-bold">Success</p>
                  <p class="text-sm">Thank you, message send successfully</p>
                </div>
              </div>
            </div>
            <!-- end of success messsage -->
            <h3 class="text-lg font-medium text-gray-900">Send us a message</h3>
            <div
              class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
            >
              <div class="sm:col-span-2">
                <label
                  for="subject"
                  class="block text-sm font-medium text-gray-900"
                  >Country</label
                >
                <div class="mt-1">
                  <select
                    formControlName="country_id"
                    type="text"
                    name="country"
                    id="country"
                    class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-brand-green focus:border-brand-green border-gray-300 rounded-md"
                  >
                  <option value="78ba6f60-85ad-11eb-88f1-39b4763e914c">Kenya</option>
                  <option value="78c7d800-85ad-11eb-82e0-71c6f09a2bae">Uganda</option>
                  <option value="78b6b910-85ad-11eb-8c83-cd8b9be0f4f1">Ghana</option>
                  <option value="78b32a20-85ad-11eb-8ef6-a9906fd1e035">DRC</option>
                  <option value="78bb1f20-85ad-11eb-9ca4-dfa9c20bb376">Liberia</option>
                  <option value="78c68a50-85ad-11eb-813f-b19440c3cb6a">Togo</option>
                  </select>
                </div>
              </div>
              <div>
                <label
                  for="first-name"
                  class="block text-sm font-medium text-gray-900"
                  >First name</label
                >
                <div class="mt-1">
                  <input
                    formControlName="firstName"
                    type="text"
                    name="first-name"
                    id="first-name"
                    autocomplete="given-name"
                    class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-brand-green focus:border-brand-green border-gray-300 rounded-md"
                  />
                </div>
              </div>
              <div>
                <label
                  for="last-name"
                  class="block text-sm font-medium text-gray-900"
                  >Last name</label
                >
                <div class="mt-1">
                  <input
                    formControlName="lastName"
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-brand-green focus:border-brand-green border-gray-300 rounded-md"
                  />
                </div>
              </div>
              <div>
                <label
                  for="email"
                  class="block text-sm font-medium text-gray-900"
                  >Email</label
                >
                <div class="mt-1">
                  <input
                    formControlName="email"
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-brand-green focus:border-brand-green border-gray-300 rounded-md"
                  />
                </div>
              </div>
              <div>
                <div class="flex justify-between">
                  <label
                    for="phone"
                    class="block text-sm font-medium text-gray-900"
                    >Phone</label
                  >
                  <span id="phone-optional" class="text-sm text-gray-500"
                    >Optional</span
                  >
                </div>
                <div class="mt-1">
                  <input
                    formControlName="phoneNumber"
                    type="text"
                    name="phone"
                    id="phone"
                    autocomplete="tel"
                    class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-brand-green focus:border-brand-green border-gray-300 rounded-md"
                    aria-describedby="phone-optional"
                  />
                </div>
              </div>
              <div>
                <label
                  for="email"
                  class="block text-sm font-medium text-gray-900"
                  >Name of Company</label
                >
                <div class="mt-1">
                  <input
                    formControlName="company"
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-brand-green focus:border-brand-green border-gray-300 rounded-md"
                  />
                </div>
              </div>
              <div>
                <div class="flex justify-between">
                  <label
                    for="phone"
                    class="block text-sm font-medium text-gray-900"
                    >Job Title</label
                  >
                </div>
                <div class="mt-1">
                  <input
                    formControlName="jobTitle"
                    type="text"
                    name="phone"
                    id="phone"
                    autocomplete="tel"
                    class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-brand-green focus:border-brand-green border-gray-300 rounded-md"
                    aria-describedby="phone-optional"
                  />
                </div>
              </div>
              <div class="sm:col-span-2">
                <label
                  for="subject"
                  class="block text-sm font-medium text-gray-900"
                  >Subject</label
                >
                <div class="mt-1">
                  <input
                    formControlName="subject"
                    type="text"
                    name="subject"
                    id="subject"
                    class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-brand-green focus:border-brand-green border-gray-300 rounded-md"
                  />
                </div>
              </div>
              <div class="sm:col-span-2">
                <div class="flex justify-between">
                  <label
                    for="message"
                    class="block text-sm font-medium text-gray-900"
                    >Message</label
                  >
                  <span id="message-max" class="text-sm text-gray-500"
                    >Max. 500 characters</span
                  >
                </div>
                <div class="mt-1">
                  <textarea
                    formControlName="description"
                    id="message"
                    name="message"
                    rows="4"
                    class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-brand-green focus:border-brand-green border border-gray-300 rounded-md"
                    aria-describedby="message-max"
                  ></textarea>
                </div>
              </div>
              <div class="sm:col-span-2 sm:flex sm:justify-end">
                <button
                  type="submit"
                  class="mt-2 w-full inline-flex items-center justify-center !px-6 !py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-brand-green bg-brand-yellow hover:bg-brand-yellow/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-green sm:w-auto"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
