<!-- Latest news -->
<section class="mt-12" data-aos="zoom-in" data-aos-duration="500">
  <div class="relative mt-8 bg-gray-50 px-4 sm:px-6 lg:pb-28 lg:px-8">
    <div class="absolute inset-0">
      <div class="bg-white h-1/3 sm:h-2/3"></div>
    </div>
    <div class="relative max-w-7xl mx-auto">
      <div class="text-center flex justify-between">
        <h2 class="text-3xl font-bold text-brand-green">Latest News</h2>
        <input type="text" class="search rounded-full focus:ring-green-500 text-gray-900" placeholder="Search here..." [(ngModel)]="filter">
      </div>
      <!-- SPINNER -->

      <div class="text-center mt-10" *ngIf="!news">
        <div role="status">
            <svg aria-hidden="true" class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!-- END OF SPINNER -->

      <div
        class="mt-12 max-w-lg mx-auto grid justify-center flex-wrap gap-5 lg:grid-cols-3 lg:max-w-none latest-news"
      >
        <div
          class="flex flex-col min-w-[300px] rounded-lg shadow-lg overflow-hidden "
          *ngFor="
            let news of mergedArray | searchnews:filter | paginate : { itemsPerPage: 6, currentPage: pageNumber };
            let i = index
          "
        >

          <!-- Handles Image or Avatar -->
          <div class="flex-shrink-0">
            <img
             *ngIf="news.image.length !== 1"
              class="h-48 w-full object-cover"
              src="{{ news.image }}"
              alt=""
            />
            <p *ngIf="news.image.length==1" class="flex justify-center items-center font-bold h-48 text-[600px] md:text-[60px] bg-amber-400 p-8 mb-4">{{news.image | titlecase}}</p>
          </div>
          <!-- End of image or avatar -->

          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <a class="block mt-2" (click)="getSlug(news.slug)" routerLink="/post/{{news.slug}}">
                <p class="text-xl font-semibold text-gray-900">
                  {{ news.title | shorten}}
                </p>
                <div class="flex flex-wrap mt-3 text-base text-gray-500">
                  <span [innerHTML]="news.description | shorten"></span>
                </div>
              </a>
            </div>
            <!-- This handles the user avatar -->
            <div class="mt-6 flex items-center">
              <div class="flex-shrink-0">
                <a>
                  <p class="text-[40px] w-[60px] h-[60px] flex justify-center items-center font-bold md:text-[40px] bg-amber-400 rounded-full">{{users[i][0] | titlecase}}</p>
                </a>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-900">
                  <a class="hover:underline">{{ users[i] }}</a>
                </p>
                <div class="flex space-x-1 text-sm text-gray-500">
                  <time datetime="2020-03-16"> {{ created_at[i] }} </time>
                  <span aria-hidden="true"> &middot; </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-center pt-16" *ngIf="newscomponent">
        <pagination-controls
          (pageChange)="pageNumber = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
</section>
<!-- end Latest news -->
