<!-- <div [ngStyle]="category=='wholesale'?{'background-color':'red'}:{'background-color':'yellow'}">
baba
</div> -->

<!-- Renders wholesale fiber background -->
<div class="body" *ngIf ="categoryRoute == '/services/wholesale-fiber'">
    <div class="cloudsolutions-bg">

    </div>
    <div class="service-container">
        <div class="single-service" *ngFor="let service of fiberservices; let i = index">
            <div class="service-img" *ngIf="(i%2==0)">
                <img src="{{service.image}}" alt="Specialist">
            </div>
            <div class="service-info" *ngIf="(i%2==0)">
                <h2>{{service.title}}</h2><br>
                {{service.description}}<br><br>
                <button class="btn btn-warning" (click)="viewFiberProduct(i)" routerLink='/services/wholesale-fiber/view/{{i}}'>Explore More</button>
            </div>

            <div class="service-info2" *ngIf="(i%2!==0)">
                <h2>{{service.title}}</h2><br>
                {{service.description}}<br><br>
                <button class="btn btn-warning" (click)="viewFiberProduct(i)" routerLink='/services/wholesale-fiber/view/{{i}}'>Explore More</button>
            </div>
            <div class="service-img" *ngIf="(i%2!==0)">
                <img src="{{service.image}}" alt="Specialist">
            </div>
        </div>
        <button class="btn btn-warning pl-10 pr-10 m-10"><b>More Services</b></button>
    </div>
    
</div>

<!-- Renders cloud solutions -->
<div class="body" *ngIf ="categoryRoute == '/services/cloud-solutions'">
    <div class="fiber-bg">
    </div>
    <div class="service-container">
        <div class="single-service" *ngFor="let service of cloudservices; let i=index">
            <div class="service-img" *ngIf="!(i%2==0)">
                <img src="{{service.image}}" alt="Specialist">
            </div>
            <div class="service-info" *ngIf="!(i%2==0)">
                <h2>{{service.title}}</h2><br>
                {{service.description}}<br><br>
                <button class="btn btn-warning" (click)="viewCloudProduct(i)" routerLink='/services/cloud-solutions/view/{{i}}'>Discover Us</button>
            </div>
            
            <div class="service-info2" *ngIf="(i%2==0)">
                <h2>{{service.title}}</h2><br>
                {{service.description}}<br><br>
                <button class="btn btn-warning" (click)="viewCloudProduct(i)" routerLink='/services/cloud-solutions/view/{{i}}'>Discover Us</button>
            </div>
            <div class="service-img" *ngIf="(i%2==0)">
                <img src="{{service.image}}" alt="Specialist">
            </div>
        </div>
        <button class="btn btn-warning pl-10 pr-10 m-10"><b>More Services</b></button> 
    </div>
</div>
<app-footer></app-footer>

