<div class="container-grid">
  <div class="content">
    <div class="divone">
      <img src="{{ image }}" alt="" />
      <div class="text">
        <h1>Leased Capacity</h1>
      </div>
      <div class="btn">
        <button>Learn More</button>
      </div>
    </div>
    <div class="divtwo">
      <img src="{{ imageTwo }}" alt="" />
      <div class="text">
        <h1>Dark Fiber</h1>
      </div>
      <div class="btn">
        <button>Learn More</button>
      </div>
    </div>
    <div class="divthree">
      <img src="{{ imageThree }}" alt="" />
      <div class="text">
        <h1>Capacity Pool</h1>
      </div>
      <div class="btn">
        <button>Learn More</button>
      </div>
    </div>
    <div class="divfour">
      <img src="{{ imageFour }}" alt="" />
      <div class="text">
        <h1>Managed Ethernet</h1>
      </div>
      <div class="btn">
        <button>Learn More</button>
      </div>
    </div>
    <div class="divfive">
      <img src="{{ imageFive }}" alt="" />
      <div class="text">
        <h1>Backbone</h1>
      </div>
      <div class="btn">
        <button>Learn More</button>
      </div>
    </div>
    <div class="divsix">
      <img src="{{ imageSix }}" alt="" />
      <div class="text">
        <h1>FTTH</h1>
      </div>
      <div class="btn">
        <button>Learn More</button>
      </div>
    </div>
  </div>
</div>
