.body{
    overflow-x: hidden;
}
.blog-bg{
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://media.istockphoto.com/id/483495276/photo/impact-success-silhouette.jpg?b=1&s=170667a&w=0&k=20&c=RcnWllC285E26X0Zdd7e01X9yrepiWf3panh1Bj-CEY=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    object-fit: cover;
}