<div class="body">
    <div class="blog-bg bg-gradient-to-r from-green-500 to-yellow-500">
        <h1 class="p-4 text-extrabold md:pl-28 text-[40px] md:mb-2">Our Impact</h1>
        <p class="w-[100vw] text-bold p-4 md:pl-28 text-[16px] md:text-[22px]  md:w-[65vw]">CSquared is a technology company, making commercially driven investments into broadband-enabling infrastructure throughout Africa</p>
    </div>

    <app-country-products [offers]="offer"></app-country-products>
</div>
<app-footer></app-footer>
