<div class="body">
  <div class="blog-bg text-[40px]">Our Investors</div>
  <!-- <div class="flex flex-wrap justify-around pt-5 pb-5 bg-slate-100 z-10">
    <div class="text-2xl">About Company</div>
    <div class="text-2xl">About Team</div>
    <div class="text-2xl">Our Partners</div>
  </div> -->
  <div class="flex flex-col items-center justify-center">
    <h2 class="text-center text-3xl pt-4">Our Investors</h2>
    <br />
    <p class="text-center w-8/12">
      CSquared has expanded to West Africa, building shared infrastructure
      solutions in Ghana's cities, Accra, Tema, Kasoa and Kumasi. Ghana has
      already demonstrated a commitment to promoting an environment conducive to
      Internet growth, and we look forward to furthering this work by building
      high-quality Internet.
    </p>
  </div><br>
  <h2 class="w-screen text-center text-3xl mb-4">Browse Our Partners</h2>
  <div class="flex flex-row justify-center flex-wrap">
    <!-- <div class="w-3/12 pl-10 pt-5 justify-center items-center"> -->
      <!-- <p class="text-lg">Filter By</p> -->
      <!-- <p class="text-sm">Country</p> -->
      <!-- <form action="" class="flex flex-col">
        <div>
          <input type="checkbox" name="Freelance" id="Freelance" value="Freelance" />&nbsp;
          <label for="">Investors</label>
        </div>
        <div>
          <input type="checkbox" name="kenya" id="kenya" value="Kenya" />&nbsp;
          <label for="">Partners</label>
        </div>


      </form><br> -->
      <!-- <p class="text-sm">Type</p> -->
      <!-- <form action="" class="flex flex-col">
        <div>
          <input type="checkbox" name="Freelance" id="Freelance" value="Freelance" />&nbsp;
          <label for="">Freelance</label>
        </div>
        <div>
          <input type="checkbox" name="Hiring" id="Hiring" value="Hiring" />&nbsp;
          <label for="">Hiring</label>
        </div>
        <div>
          <input type="checkbox" name="Corporate" id="Corporate" value="Corporate" />&nbsp;
          <label for="">Corporate</label>
        </div>
    </form> -->
    <!-- </div> -->
    <div class="flex flex-wrap justify-around items-center w-9/12">
      <div class="w-5/12 cursor-pointer shadow-2xl p-8 mb-4" style="min-width: 200px;">
        <img
          src="../../assets/Csquared/google.png"
          alt="google"
          width="200vw"
        />
        <p class="text-2xl">Google</p>
        <p>

        </p>
        <br />
        <a class="text-green-600" href="https://workspace.google.com/products/sites/" target="_blank">Featured Partner</a>
      </div>
      <div  class="w-5/12 cursor-pointer shadow-2xl p-8 mb-4"  style="min-width: 200px;">
        <img
          src="../../assets/Csquared/convergence.png"
          alt="google"
          width="200vw"
        /><br />
        <p class="text-2xl">Convergence</p>
        <p>
        </p>
        <br />
        <a class="text-green-600" href="https://www.convergencepartners.com/" target="_blank">Featured Partner</a>
      </div>
      <div  class="w-5/12 cursor-pointer shadow-2xl p-8 mb-4" style="min-width: 200px;">
        <img
          src="../../assets/Csquared/ifc.png"
          alt="google"
          width="200vw"
        /><br />
        <p class="text-2xl">International Finance Corporation</p>
        <p>
        </p>
        <br />
        <a class="text-green-600" target="_blank" href="https://www.ifc.org/wps/wcm/connect/corp_ext_content/ifc_external_corporate_site/home">Featured Partner</a>
      </div>
      <div class="w-5/12 cursor-pointer shadow-2xl p-8 mb-4" style="min-width: 200px;">
        <img
          src="../../assets/Csquared/mitsui.png"
          alt="google"
          width="200vw"
        /><br />
        <p class="text-2xl">Mitsui & Co</p>
        <p>
        </p>
        <br />
        <a class="text-green-600" target="_blank" href="https://www.mitsui.com/jp/en/index.html">Featured Partner</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
