<div>
    <div class="p-10 text-justify">
        <h1 class="text-[28px]">Our Privacy Policy</h1>
        <p class="flex pt-10">
            CSquared is committed to maintaining robust privacy protections for its users.  Our Privacy Policy  is designed to help you understand how we collect, use and safeguard the information you provide to us and to assist you in making informed decisions when using our Service.       
        </p>
        <p class="flex pt-2">
            CSquared is committed to maintaining robust privacy protections for its users.  Our Privacy Policy  is designed to help you understand how we collect, use and safeguard the information you provide to us and to assist you in making informed decisions when using our Service. CSquared is committed to maintaining robust privacy protections for its users.  Our Privacy Policy  is designed to help you understand how we collect, use and safeguard the information you provide to us and to assist you in making informed decisions when using our Service.      
        </p>

        <ul class="p-2 pt-4">
            <li class="list-[upper-roman] pb-4"><b>INFORMATION WE COLLECT</b>
                <p>We collect “Non-Personal Information” and “Personal Information.” 
                    <b>Non-Personal Information</b> includes information that cannot be used to personally identify you, such as anonymous usage data, general demographic information we may collect, referring/exit pages and URLs, platform types, preferences you submit and preferences that are generated based on the data you submit and number of clicks.
                </p>
            </li>
            <li class="list-[upper-roman] pb-4"><b>HOW WE USE AND SHARE INFORMATION</b>
                <p>Personal Information. 
                    Except as otherwise stated in this Privacy Policy, we do not sell, trade, rent or otherwise share for marketing purposes your Personal Information with third parties without your consent. We do share Personal Information with vendors who are performing services for the Company, such as the servers for our email communications who are provided access to user’s email address for purposes of sending emails from us. Those vendors use your Personal Information only at our direction and in accordance with our Privacy Policy.
                </p>
                <p>In general, the Personal Information you provide to us is used to help us communicate with you. For example, we use Personal Information to contact users in response to questions, solicit feedback from users, provide technical support, and inform users about promotional offers.
                </p>
            </li>
            <li class="list-[upper-roman] pb-4"><b>HOW WE PROTECT INFORMATION</b>
                <p>
                    We implement security measures designed to protect your information from unauthorized access. Your account is protected by your account password and we urge you to take steps to keep your personal information safe by not disclosing your password and by logging out of your account after each use. We further protect your information from potential security breaches by implementing certain technological security measures including encryption, firewalls and secure socket layer technology. However, these measures do not guarantee that your information will not be accessed, disclosed, altered or destroyed by breach of such firewalls and secure server software. By using our Service, you acknowledge that you understand and agree to assume these risks.
                </p>
            </li>
            <li class="list-[upper-roman] pb-4"><b>YOUR RIGHTS REGARDING THE USE OF YOUR PERSONAL INFORMATION</b>
                <p>
                    You have the right at any time to prevent us from contacting you for marketing purposes.  When we send a promotional communication to a user, the user can opt out of further promotional communications by following the unsubscribe instructions provided in each promotional e-mail. You can also indicate that you do not wish to receive marketing communications from us. Please note that notwithstanding the promotional preferences you indicate by either unsubscribing or opting out.

                </p>
            </li>
            <li class="list-[upper-roman] pb-4"><b>LINKS TO OTHER WEBSITES</b>
                <p>
                    As part of the Service, we may provide links to or compatibility with other websites or applications. However, we are not responsible for the privacy practices employed by those websites or the information or content they contain. This Privacy Policy applies solely to information collected by us through the Site and the Service. Therefore, this Privacy Policy does not apply to your use of a third party website accessed by selecting a link on our Site or via our Service. To the extent that you access or use the Service through or on another website or application, then the privacy policy of that other website or application will apply to your access or use of that site or application. We encourage our users to read the privacy statements of other websites before proceeding to use them.
                </p>
            </li>
            
        </ul>
    </div>
    <app-footer></app-footer>
</div>
