<div class="career-container">

    <div class="career-header">
        <img src="../../assets/images/backgrounds/cheatahs.jpg" alt="">
    </div>

    <h1>Careers</h1>

    <div class="open">
        <h3>Open Positions</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>

    <div class="position">
        <div class="career-row">
         <div class="career">
               <div class="career-div">
                <div class="career-div1">
                    <h1>Product Manager</h1>
                    <h3>San Francisco / Full Time </h3>
                </div>
                  <button> JOIN NOW</button>
            </div>
            <hr>
         </div>
         
          <div class="career">
               <div class="career-div">
                <div class="career-div1">
                    <h1>Product Manager</h1>
                    <h3>San Francisco / Full Time </h3>
                </div>
                  <button> JOIN NOW</button>
            </div>
            <hr>
         </div>


        </div>

             <div class="career-row">
         <div class="career">
               <div class="career-div">
                <div class="career-div1">
                    <h1>Product Manager</h1>
                    <h3>San Francisco / Full Time </h3>
                </div>
                  <button> JOIN NOW</button>
            </div>
            <hr>
         </div>
         
          <div class="career">
               <div class="career-div">
                <div class="career-div1">
                    <h1>Product Manager</h1>
                    <h3>San Francisco / Full Time </h3>
                </div>
                  <button> JOIN NOW</button>
            </div>
            <hr>
         </div>

         
        </div>

             <div class="career-row">
         <div class="career">
               <div class="career-div">
                <div class="career-div1">
                    <h1>Product Manager</h1>
                    <h3>San Francisco / Full Time </h3>
                </div>
                  <button> JOIN NOW</button>
            </div>
            <hr>
         </div>
         
          <div class="career">
               <div class="career-div">
                <div class="career-div1">
                    <h1>Product Manager</h1>
                    <h3>San Francisco / Full Time </h3>
                </div>
                  <button> JOIN NOW</button>
            </div>
            <hr>
         </div>

         
        </div>


             <div class="career-row">
         <div class="career">
               <div class="career-div">
                <div class="career-div1">
                    <h1>Product Manager</h1>
                    <h3>San Francisco / Full Time </h3>
                </div>
                  <button> JOIN NOW</button>
            </div>
            <hr>
         </div>
         
          <div class="career">
               <div class="career-div">
                <div class="career-div1">
                    <h1>Product Manager</h1>
                    <h3>San Francisco / Full Time </h3>
                </div>
                  <button> JOIN NOW</button>
            </div>
            <hr>
         </div>

         
        </div>
    </div>
</div>
<!-- <ng-twitter-timeline
 [dataSrc]="{sourceType: 'profile',screenName: 'joemdogo'}" 
[opts]="{tweetLimit: 1}"></ng-twitter-timeline> -->
<app-footer></app-footer>