<div class="bg-container">
    <h1>Our Featured Products</h1>
</div>
<div class="products">
    <h2>Our Products</h2><br>
    <div class="products-text">Our products have multiple usages in Base Stations/ Towers, Data Centers, Corporate/SME organizations, Residential
        Buildings and Public venues such as malls
    </div>
</div>
<div class="categories">
    <div class="wholesale" routerLink="/services/wholesale-fiber">
        <img style="object-fit:cover;" src="https://media.istockphoto.com/id/526571383/photo/big-spool-of-optic-wires.jpg?b=1&s=170667a&w=0&k=20&c=bMO142OHairknfSPe38n5d9F9tadoTeEDKrLEL1usPM=" alt="Wholesale fiber"><br>
        <div>Wholesale Fiber</div>
    </div>
    <div class="cloudsolutions" routerLink="/services/cloud-solutions">
        <img style="object-fit:cover;" src="https://media.istockphoto.com/id/502462262/photo/cloud-computing.jpg?b=1&s=170667a&w=0&k=20&c=gBmYYJzhUTg_JzB7_xqdzepJaex6kQDf3DciWjfIMJ8=" alt="Cloud Solutions"><br>
        <div>Cloud Solutions</div>
    </div>
</div>

<app-footer></app-footer>
