* {
  padding: 0;
  margin: 0;
}
.cv-container {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  gap: 8%;
  margin-bottom: 50px;
  color: #345c5a;
}
.cv-content {
  width: 20%;
  height: 100%;
  display: flex;
  gap: 20px;
  padding: 10px;
}
.cv-content img {
  width: 20%;
  height: 100%;
}

.cv-content div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
h1 {
  font-weight: bolder;
}
@media only screen and (max-width: 600px) {
  .cv-container {
    flex-direction: column;
  }
  .cv-content {
    margin-top: 1rem;
    width: 100%;
  }
  .cv-content img {
    height: 2rem;
    width: auto;
  }
  h1 {
    font-size: 10px;
  }
  p {
    font-size: 9px;
  }
}
