<div class="body">
  <section>
    <ngb-carousel *ngIf="images" class="carousel-body">
      <ng-template ngbSlide >
        <div class="picsum-img-wrapper">
          <img [src]="images[0]"  alt="Random first slide" />
        </div>
        <div class="carousel-caption">
          <h2 class="text-4xl text-white font-bold">Digital Solutions</h2>
          <br />
          <p class="text-md text-white font-medium">
            The demand for Cloud computing services has grown considerably in 
            recent years, owing to enterprises’ demand for lower operating 
            costs and capital expenditure with improved productivity and 
            greater efficiency and agility. Cloud services offer operational 
            flexibility, scalability, improved time to market, and cost efficiencies to enterprises
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            [src]="images[1]"
            
            alt="Random second slide"
          />
        </div>
        <div
          class="w-full h-full flex justify-center items-center backdrop-brightness-50"
        ></div>
        <div class="carousel-caption">
          <h2 class="text-4xl text-white font-bold">A Digital Africa</h2>
          <br />
          <p class="text-md text-white font-medium">
            While a basic connection is useful when it comes to Internet access, 
            abundant, affordable broadband can transform communities and 
            help people make the most of opportunities online. By investing in 
            internet infrastructure and making it available to 
            local Internet Service Providers (ISPs) and mobile network operators (MNOs), 
            CSquared helps bring high-quality broadband access to Africa’s major cities.
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h2 class="text-4xl text-white font-bold">A Super Connectivity</h2>
          <br />
          <p class="text-md text-white font-medium">
            CSquared reach and unique offering of reliable, 
            high-speed connectivity, state-of-the-art data centres and 
            innovative digital services, can guide your business towards the digital future.
          </p>
        </div>
      </ng-template>
    </ngb-carousel>
  </section>
</div>
