.carousel-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
}
.body{
        margin-top: 10vh;
        height: 90vh;
        width: 100vw;
}
.carousel {
        height:80vh;
      }
.picsum-img-wrapper>img{
        width: 100%;
        height:calc(100vh - 10vh);
        object-fit:cover;
}

@media only screen and (max-width: 768px) {
        .body{
                height: fit-content;
        }
        .carousel-body{
                height: fit-content;
        }
}