<div class="body">
  <app-hero-carousel></app-hero-carousel>
  
  <app-country-about [content]="content" [image]="image"> </app-country-about>

<div class="kenya-container" data-aos="flip-left">
  <div class="kenya-content ">
    <div class="kenya-text">
      <h1>Secure your users and business with Zscaler</h1>
      <br>
      <h3 class="font-medium text-lg">Access from anywhere, security that’s everywhere</h3>
      <p>{{ div1text }}</p>
      <button routerLink="/services/digital-solutions/view/0">Learn more</button>
    </div>

    <div class="kenya-image">
      <div class=" p-2">
        <img style="object-fit: cover;" src="{{ div1img }}" alt="cloud" />
      </div>
      <!-- <div class=" p-2">
        <img style="object-fit: cover;" src="../kenya/cloud.png" alt="cloud" />
      </div> -->
    </div>
  </div>
</div>

<div class="kenya-container" data-aos="flip-left">
  <div class="kenya-content reverse-col">
    <div class="kenya-image">
      <img src="{{ div2img }}" alt="country"/>
    </div>
    
    <div class="kenya-text">
      <h1>SD-WAN</h1>
      <p>{{ div2text }}</p>

      <button routerLink="/services/digital-solutions/view/1">Learn more</button>
    </div>

  </div>
</div>

<div class="kenya-container" data-aos="flip-left">
  <div class="kenya-content">

    <div class="kenya-text">
      <h1>Direct On ramp to Cloud</h1>
      <p>{{ div3text }}</p>
      <button routerLink="/services/digital-solutions/view/2">Learn more</button>
    </div>

    <div class="kenya-image">
      <img src="{{ div3img }}" alt="country" />
    </div>

  </div>
</div>
<!-- 
<div class="kenya-services">
  <div class="it-services">
    <h1>IT/Cloud services consultancy</h1>

    <h2>
      Organize all of your connections from one place and bring your network
      together into an easy-to-use platform. .
    </h2>
  </div>
  <button class="btn">Get Started</button>
</div> -->

<app-country-latestnews></app-country-latestnews>
<!-- <app-latest-news class="mt-5"></app-latest-news> -->

<app-footer></app-footer>

</div>