<div class="body">
  <app-country-header></app-country-header>

<div class="kenya-container" data-aos="flip-left">
  <div class="kenya-content">
    <div class="kenya-image">
      <img style="object-fit: cover;" src="{{ div1img }}" alt="country" />
    </div>

    <div class="kenya-text">
      <h1>Build connections faster</h1>
      <p>{{ div1text }}</p>
      <button>Learn more</button>
    </div>
  </div>
</div>

<div class="kenya-container" data-aos="flip-left">
  <div class="kenya-content reverse-col">
    <div class="kenya-text">
      <h1>Move data further</h1>
      <p>{{ div2text }}</p>
      <button>Learn more</button>
    </div>

    <div class="kenya-image">
      <img src="{{ div2img }}" alt="country" />
    </div>
  </div>
</div>

<div class="kenya-container" data-aos="flip-left">
  <div class="kenya-content">
    <div class="kenya-image">
      <img src="{{ div3img }}" alt="country" />
    </div>

    <div class="kenya-text">
      <h1>Build connections faster</h1>
      <p>{{ div3text }}</p>
      <button>Learn more</button>
    </div>
  </div>
</div>
<!-- 
<div class="kenya-services">
  <div class="it-services">
    <h1>IT/Cloud services consultancy</h1>

    <h2>
      Organize all of your connections from one place and bring your network
      together into an easy-to-use platform. .
    </h2>
  </div>
  <button class="btn">Get Started</button>
</div> -->

<!-- <app-country-latestnews></app-country-latestnews> -->
<app-latest-news class="mt-5"></app-latest-news>

<app-footer></app-footer>

</div>