* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kenya-container {
  width: 98vw;
  /* height: 40vh; */
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.kenya-content {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-between;
}

.kenya-image {
  width: 45%;
  height: 100%;
}

.kenya-image img {
  width: 100%;
  height: 100%;
}

.kenya-text {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

button {
  background-color: #e7b022;
  color: #345c5a;
  font-weight: bolder;
  border-style: none;
  padding: 12px 15px;
  /* width: 40%; */
  /* width: fit-content; */
  border-radius: 10px;
}

h1 {
  color: #345c5a;
  font-weight: bolder;
  font-size: 30px;
}

.kenya-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

.it-services {
  width: 80%;
  display: flex;
  justify-content: center;
}

.it-services h1 {
  width: 40%;
  color: #345c5a;
  font-weight: bolder;
  font-size: 40px;
}

.it-services h2 {
  width: 40%;
  color: #345c5a;
  font-weight: bolder;
  font-size: 30px;
}

.btn {
  background-color: #345c5a;
  color: white;
  font-weight: bolder;
  border-style: none;
  /* width: 150px; */
  padding: 12px 15px;
  text-align: center;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .kenya-container {
    width: 100%;
    padding: 1rem;
  }
  .kenya-content {
    flex-direction: column;
    width: 100%;
  }
  .kenya-text {
    width: 100%;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .kenya-image {
    width: 100%;
  }
  .kenya-image img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
  /*  */
  .it-services {
    width: 100%;
    justify-content: space-around;
  }
  .it-services h1 {
    font-size: 20px;
  }
  .it-services h2 {
    font-size: 9px;
    color: black;
  }
}
