<div class="body">
    <div class="blog-bg">
        Our Blog
    </div>
    <div class="latest-news">
        <h2>Latest News</h2><br>
        <div class="latest-news-text">Our latest-news have multiple usages in Base Stations/ Towers, Data Centers, Corporate/SME organizations, Residential
            Buildings and Public venues such as malls
        </div>
    </div><br>
    <div class="posts">
        <div class="post" routerLink="/services/wholesale-fiber">
            <img src="https://media.istockphoto.com/id/1310705048/photo/optical-fiber-for-very-high-speed-internet.jpg?b=1&s=170667a&w=0&k=20&c=j46286Bp6x_RwJr_hvM3hM26ut8JvD2mC0oY3bzOrqE=" alt="post" width="100%" height="100%"><br>
            <div style="color: #345C5A;"><b>CSquared Sets on 'Fiberising' Afica Affordably</b></div>
            <p style="color: #3B7360;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non earum enim eum quisquam architecto aliquam error laudantium culpa maxime ea accusantium ad vel, voluptatem quasi natus placeat atque doloribus facere!</p>
        </div>
        <div class="post" routerLink="/services/cloud-solutions">
            <img src="https://media.istockphoto.com/id/172185316/photo/fiber-optic-install.jpg?b=1&s=170667a&w=0&k=20&c=YXdo2Q6bWBsSKgI4GLQDFbauMxnwWasNIZeoq0S5cNE=" alt="post" width="100%" height="100%"><br>
            <div style="color: #345C5A;"><b>CSquared Sets on 'Fiberising' Afica Affordably</b></div>
            <p style="color: #3B7360;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non earum enim eum quisquam architecto aliquam error laudantium culpa maxime ea accusantium ad vel, voluptatem quasi natus placeat atque doloribus facere!</p>
        </div>
        <div class="post" routerLink="/services/cloud-solutions">
            <img src="https://media.istockphoto.com/id/1181906228/photo/wooden-spool-with-fiber-optic-cable-for-fast-internet-ready-to-be-laid-in-narrow-trenches-in.jpg?b=1&s=170667a&w=0&k=20&c=aP3OhN2rSa9Qd3FGzIF33JzrRrE1z_uo_SdHuwWaa-0=" alt="post" width="100%" height="100%"><br>
            <div style="color: #345C5A;"><b>CSquared Sets on 'Fiberising' Afica Affordably</b></div>
            <p style="color: #3B7360;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non earum enim eum quisquam architecto aliquam error laudantium culpa maxime ea accusantium ad vel, voluptatem quasi natus placeat atque doloribus facere!</p>
        </div>
    </div>
    <div class="navigate">
        <img src="./../../assets/images/icons/left-arrow-filled.png" alt="previous" width="50px">
        <img src="./../../assets/images/icons/right-arrow-filled.png" alt="next" width="50px">
    </div>
</div>
<app-footer></app-footer>
