.body{
    overflow-x: hidden;
}
.blog-bg{
    width: 100%;
    height: 55vh;
    background-image: url("./../../assets/images/backgrounds/blog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.latest-news{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #42806B;
    width:100%;
    
}
.latest-news-text{
    width: 40%;
    text-align: center;
}
.posts{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
}
.post{
    width:25vw;
    height:30vw;
    cursor: pointer;
}
h2{
    font-size: 25px;
}
img{
    border-radius: 10px;
}
.navigate{
    width:100vw;
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
    margin-bottom: 30px;
}