<div class="body">
    <div class="blog-bg">
        <h1 class="p-4 md:pl-28 text-[30px] md:mb-6">Our Blog</h1>
        <p class="w-[100vw] p-4 md:pl-28 text-[16px] md:text-[22px]  md:w-[65vw]">In the Newsroom where you know what we have been up to</p>

    </div>

    <app-latest-news></app-latest-news>
</div>
<div class="navigate">
    <img src="./../../assets/images/icons/left-arrow-filled.png" alt="previous" width="50px">
    <img src="./../../assets/images/icons/right-arrow-filled.png" alt="next" width="50px">
</div>
<app-footer></app-footer>
