.body{
    overflow-x: hidden;
}
.blog-bg{
    /* margin-top: 10vh; */
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./../../assets/images/backgrounds/blog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    object-fit: cover;
}
.latest-news{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #42806B;
    width:100%;
    
}
.latest-news-text{
    width: 40%;
    text-align: center;
}
.posts{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
    flex-wrap: wrap;
}
.post{
    width:25vw;
    min-height:30vw;
    cursor: pointer;
}
h2{
    font-size: 25px;
}
img{
    border-radius: 10px;
    object-fit: cover;
}
.navigate{
    width:97vw;
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width:768px) {

    .latest-news-text{
        width: 70%;
        text-align: center;
    }
    .post{
        width:80%;
        cursor: pointer;
    }
    .navigate{
        width:97vw;
        display: flex;
        justify-content: center;
        gap:20px;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
