<div class="modal fade"
            id="myModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title"
                    id="staticBackdropLabel"
                    style="color: black"
                  >
                   Dark Fiber
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >X</button>
                </div>
                <div class="body" style="color: black; padding: 40px 10px;">
                  <p>Dark fiber solution is an unrestricted connectivity solution designed to connect MNO Base Transceiver Stations (BTS) and Point to Point connections to large enterprises. As a business owner dark fiber provides you with complete control of your network as well as allowing a virtually unlimited capacity expansion.
                    Dark fiber also accords you the highest level of security as dark fiber solutions are 100% dedicated for your use only</p> 
                </div>
                <div class="modal-footer" style="display:flex;">
                  <!-- <button
                    class="btn btn-warning"
                  >
                    Learn More
                  </button> -->
                </div>
              </div>
            </div>
          </div>

<div class="body">
  <app-country-header></app-country-header>
<h1>INSIGHTS</h1>
<h2>More About Uganda Impact</h2>

<div class="offer-container">
  <div class="offer-content">
    <div class="offer-content-body" *ngFor="let content of offers">
      <img style="object-fit:cover;" src="{{ content.image }}" alt="" />
      <div class="offer-text">
        <h1>{{ content.title }}</h1>
      </div>
    </div>
  </div>
</div>

<app-country-about [content]="content" [image]="image"></app-country-about>

<h1>What We Offer?</h1>
<div class="container-grid">
  <div class="content">
    <div class="divtwo">
      <img style="object-fit:cover;" src="{{ imageTwo }}" alt="" />
      <div class="text">
        <h1>Dark Fiber</h1>
      </div>
      <div class="btn">
        <button (click)="popModal('imageTwo')"
        data-bs-toggle="modal"
        data-bs-target="#myModal">Learn More</button>
      </div>
    </div>
    <div class="divthree">
      <img src="{{ imageThree }}" alt="" />
      <div class="text">
        <h1>Capacity Pool</h1>
      </div>
      <div class="btn">
        <button>Learn More</button>
      </div>
    </div>

    <div class="divfive">
      <img src="{{ imageFive }}" alt="" />
      <div class="text">
        <h1>Backbone</h1>
      </div>
      <div class="btn">
        <button>Learn More</button>
      </div>
    </div>
    <div class="divsix">
      <img src="{{ imageSix }}" alt="" />
      <div class="text">
        <h1>FTTX</h1>
      </div>
      <div class="btn">
        <button>Learn More</button>
      </div>
    </div>
  </div>
</div>

<app-country-latestnews></app-country-latestnews>

<app-footer></app-footer>

</div>