@import '~bootstrap-icons/font/bootstrap-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  *{
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    /*outline: green dashed medium;*/
  }
}
body{
  overflow-x: hidden;
  width: 100vw !important;
  /* font-family: Roboto; */
}
.footer-div1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer{
  display: flex;
  width: 100%;
  justify-content: center;
  gap:30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  
}

.footer1{
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
}

.footer-div1:hover .overlay{
  bottom: 0;
  height: 100%;
  border: 10px;
}
.overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #3B7360;
  overflow: hidden;
  height:0;
  transition: .5s ease;
  width:100%;
}
.overlay h3{
  width:95%;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}
.imgcontainer img{
  height:100%;
  border-radius: 10px;
}

.imgcontainer{
  height: 100%;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.btn-learnmore{
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #345c5a;
  background-color: #e7b022; 
  padding:5px 10px;
  font-weight: bold;
  font-size: 20px;
}

/* STYLING THE CARDS */ 
.card-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single-card{
  width:25vw;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
}

.card-info:hover .hover-overlay{
  top: 0;  /* top and bottom can be used interchangably  */
  height: 100%;
  border: 10px;
}
.hover-overlay{
  position: absolute;
  top: 100%; /* top and bottom can be used interchangably  */
  left: 0;
  right: 0;
  background-color: #2c755d;
  overflow: hidden;
  height:0;
  transition: .5s ease;
  width:100%;
}
.hover-overlay .overflow-text{
  width:100%;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  padding:20px
}
.imgcontainer img{
  height:100%;
  border-radius: 0px;
}

.imgcontainer{
  height: 100%;
}

/* COPY THIS FOR EVERY COMPONENT YOU USE IN */
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 20px;
  /* font-size: 24px; */
  width:20vw;
  text-align: center;
}


@media screen and (max-width:768px){
  .centered {
    width:80vw;
  }
}