<div class="body">
    <app-country-header></app-country-header>

<app-country-coverage></app-country-coverage>

<app-country-about [content]="countryContent" [show]=false
[image]="image"></app-country-about>
<div class="cabout">
    <button class="cabout-button" (click)="AboutUsClick()">{{learnMoreBtntext}}</button>
  </div>
  <div class="cabout-learn-more">
    <p id="learnmore" *ngIf="toggle">{{about_learn_more}}</p>
  </div>

  <div class="container-grid">
    <div class="content">
      <div class="divone">
        <img src="{{ grids[0].image }}" alt="" />
        <div class="text">
          <h1>{{ grids[0].title }}</h1>
        </div>
        <div class="btn">
          <button (click)="popModal(0)"
        data-bs-toggle="modal"
        data-bs-target="#myModal">Learn More</button>
        </div>
      </div>
      <div class="divtwo">
        <img src="{{ grids[1].image }}" alt="" />
        <div class="text">
          <h1>{{ grids[1].title }}</h1>
        </div>
        <div class="btn">
          <button (click)="popModal(1)"
        data-bs-toggle="modal"
        data-bs-target="#myModal">Learn More</button>
        </div>
      </div>
      <div class="divthree">
        <img src="{{ grids[2].image }}" alt="" />
        <div class="text">
          <h1>{{grids[2].title}}</h1>
        </div>
        <div class="btn">
          <button (click)="popModal(2)"
        data-bs-toggle="modal"
        data-bs-target="#myModal">Learn More</button>
        </div>
      </div>
      <div class="divfour">
        <img src="{{ grids[3].image }}" alt="" />
        <div class="text">
          <h1>{{ grids[3].title }}</h1>
        </div>
        <div class="btn">
          <button (click)="popModal(3)"
        data-bs-toggle="modal"
        data-bs-target="#myModal">Learn More</button>
        </div>
      </div>
      <div class="divfive">
        <img src="{{ grids[4].image }}" alt="" />
        <div class="text">
          <h1>{{ grids[4].title }}</h1>
        </div>
        <div class="btn">
          <button (click)="popModal(4)"
        data-bs-toggle="modal"
        data-bs-target="#myModal">Learn More</button>
        </div>
      </div>
      <div class="divsix">
        <img src="{{ grids[5].image }}" alt="" />
        <div class="text">
          <h1>{{ grids[5].title }}</h1>
        </div>
        <div class="btn">
          <button (click)="popModal(5)"
        data-bs-toggle="modal"
        data-bs-target="#myModal">Learn More</button>
        </div>
      </div>
    </div>
  </div>
  

<app-country-latestnews></app-country-latestnews>

<app-footer></app-footer>

</div>

<!-- Start of modal -->
<div class="modal fade"
            id="myModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header flex">
                  <h5
                    class="modal-title"
                    id="staticBackdropLabel"
                    style="color: black"
                  >
                  {{grids[index].title}}
                  </h5>
                  <button
                    class="btn-close d-flex"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="body" style="color: black; padding: 40px 10px;">
                  <p>{{grids[index].text}}</p> 
                </div>
                <div class="modal-footer" style="display:flex;">
                  <!-- <button
                    class="btn btn-warning"
                  >
                    Learn More
                  </button> -->
                </div>
              </div>
            </div>
          </div>

<!-- End of modal -->