<div class="home">
  <!-- <app-hero-general></app-hero-general> -->
  <app-hero-main></app-hero-main>

  <!-- What we offer section -->
  <section class="pt-5 lg:pt-[120px] pb-12 lg:pb-[90px]">
    <div class="container flex flex-col items-center">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4">
          <div class="text-center mx-auto mb-2 lg:mb-20 max-w-[600px]">
            <h2
              class="font-bold sm:text-4xl mb-4"
              style="font-size: 26px"
            >
              What We Offer
            </h2>
            <p class="text-base text-body-color">
              CSquared enables MNOs, ISPs and Enterprises to to access and provide high-quality broadband and associated services cost effectively through open access infrastructure and shared platforms.
            </p>
          </div>
        </div>
      </div>
      <!-- <div
        class="w-[85vw] grid grid-cols-1 gap-4 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3"
      >
        <div
          *ngFor="let service of services"
          class="flex flex-col justify-between group p-8 space-y-3 dark:border-green-300 rounded-xl hover:bg-green-900 hover:border-transparent shadow-2xl"
        >
          <p class="flex justify-center h-20 pb-3">
            <img class="rounded p-2" src="{{ service.logo }}" alt="" style="object-fit: contain" />
          </p>

          <h1
            class="text-2xl font-semibold text-center text-gray-900 capitalize dark:text-white group-hover:text-white"
          >
            {{ service.name }}
          </h1>

          <p class="text-gray-700 dark:text-gray-700 group-hover:text-white">
            {{ service.description }}
          </p>

          <a routerLink="{{service.link}}" class="inline-flex justify-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-800 dark:focus:ring-green-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
        </div>
      </div> -->

      <div class="flex flex-col items-center flex-wrap w-[100vw] justify-center gap-[20px] md:flex md:flex-row">
        <a routerLink="{{service.link}}" class="w-[80vw] h-[35vh] single-cardhere bg-brand-green shadow-2xl md:w-[25vw] "  *ngFor="let service of services; let i = index">
            <div class="card-info">
                <div class="imgcontainer">
                  <img src="{{service.logo}}" alt="service" class="w-[100%] h-[50%]"/>
                  <div class="centered drop-shadow-lg shadow-black">{{service.name}}</div>
                </div>
                <div class="hover-overlay">
                    <div class="overflow-text">
                        <h3 class="text-[25px] font-bold">
                            {{service.name}}
                        </h3><br>
                        <h3>
                            {{service.description | shorten }}
                        </h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
    </div>
  </section>
  <!-- end What we provide section -->

  <!-- Map section -->
  <h1
    class="flex flex-row justify-center pt-4 font-bold"
    style="font-size: 26px;"
  >
    Who We Are
  </h1>
  <div data-aos="fade-up" data-aos-duration="500">
    <div>
      <section
        class="pt-24 md:pt-18 grid grid-cols-1 lg:grid-cols-12 gap-5 map-africa-container"
      >
        <div class="map-africa col-span-7 relative mr-20 top-32 md:top-0">
          <svg
            class="h-28 md:h-32 opacity-30 absolute ml-10 z-[-1]"
            viewBox="0 0 77 123"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="4" cy="4" r="4" fill="#42806B" />
            <circle cx="4" cy="27" r="4" fill="#42806B" />
            <circle cx="4" cy="50" r="4" fill="#42806B" />
            <circle cx="4" cy="73" r="4" fill="#42806B" />
            <circle cx="4" cy="96" r="4" fill="#42806B" />
            <circle cx="4" cy="119" r="4" fill="#42806B" />
            <circle cx="50" cy="4" r="4" fill="#42806B" />
            <circle cx="50" cy="27" r="4" fill="#42806B" />
            <circle cx="50" cy="50" r="4" fill="#42806B" />
            <circle cx="50" cy="73" r="4" fill="#42806B" />
            <circle cx="50" cy="96" r="4" fill="#42806B" />
            <circle cx="50" cy="119" r="4" fill="#42806B" />
            <circle cx="27" cy="4" r="4" fill="#42806B" />
            <circle cx="27" cy="27" r="4" fill="#42806B" />
            <circle cx="27" cy="50" r="4" fill="#42806B" />
            <circle cx="27" cy="73" r="4" fill="#42806B" />
            <circle cx="27" cy="96" r="4" fill="#42806B" />
            <circle cx="27" cy="119" r="4" fill="#42806B" />
            <circle cx="73" cy="4" r="4" fill="#42806B" />
            <circle cx="73" cy="27" r="4" fill="#42806B" />
            <circle cx="73" cy="50" r="4" fill="#42806B" />
            <circle cx="73" cy="73" r="4" fill="#42806B" />
            <circle cx="73" cy="96" r="4" fill="#42806B" />
            <circle cx="73" cy="119" r="4" fill="#42806B" />
          </svg>

          <img
            src="/assets/images/africa.svg"
            class="mx-auto"
            alt="africa-map"
          />

          <div class="ml-20 mb-20 absolute ">
            <div class="flex text-[14px]"><div class="h-2 p-2 w-2 bg-[#f2b426]"></div> &nbsp; Already established</div>
            <div class="flex text-[14px]"><div class="h-2 p-2 w-2 bg-[#4489f1]"></div> &nbsp; Planning establishment</div>
          </div>
        </div>
        <div class="col-span-5 relative mx-auto">
          <span
            class="hidden md:block absolute h-20 w-20 md:h-64 md:w-64 bg-emerald-400/20 opacity-100 md:-top-32 right-4 rounded-full z-[-1]"
          ></span>

          <div class="container mx-auto about-us mt-56 md:mt-0 px-5">
            <h4 class="text-md text-green-900 font-bold">#FibeRisingAfrica</h4>
            <!-- <h5 class="text-3xl font-medium text-green-900">GROWTH</h5> -->

            <p class="text-md text-slate-600 mt-4 pr-20 font-bold">
              We are <b>‘Fiberising’</b> Africa through affordable broadband
              internet connectivity. We are making the internet accessible to
              everyone across Africa. We are harnessing the power of
              Public-Private Partnerships to build value through data
              delocalization.
            </p>

            <button
              class="text-lg bg-brand-green py-1 px-9 mt-5 text-green-100 rounded hover:text-green-800 hover:bg-yellow-300"
              routerLink="/about"
            >
              Learn More
            </button>
          </div>

          <div
            class="border-t-2 px-20 md:px-0 pt-8 mt-10 md:mr-20 flex space-x-20 sub-con-clients"
          >
            <div class="text-center">
              <h4 class="font-bold text-brand-green text-3xl">50K+</h4>
              <small>Subscribers</small>
            </div>
            <div class="text-center">
              <h4 class="font-bold text-brand-green text-3xl">27M+</h4>
              <small>Connections</small>
            </div>
            <div class="text-center">
              <h4 class="font-bold text-brand-green text-3xl">3K+</h4>
              <small>Satisfied Clients</small>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end Map section -->

    <!-- Start of partners section -->

    <div class="row mt-20 p-8 ">
      <h3
          class="mx-auto text-center font-bold text-black pb-12"
          style="font-size: 26px;"
        >
          Customers
        </h3>
        <!-- For desktop view -->
      <ngx-slick-carousel class="md:carousel md:flex md:flex-row md:items-center md:p-[5px]" *ngIf="!hide"            
      [config]="{slidesToShow: 5, slidesToScroll: 1, autoplay: true, centerMode: true, centerPadding: '10px',
      arrows: false,
      dots: false}" 
                        >
        <div ngxSlickItem *ngFor="let slide of logos" class="slide">
              <img src="{{ slide.image }}" alt="" width="80%">
        </div>

        <!-- For mobile view -->
      </ngx-slick-carousel>
      <ngx-slick-carousel class="carousel flex flex-row items-center p-[5px]" *ngIf="hide"             
      [config]="{slidesToShow: 2, slidesToScroll: 1, autoplay: true, centerMode: true, centerPadding: '10px',
      arrows: false,
      dots: false}" 
                        >
        <div ngxSlickItem *ngFor="let slide of logos" class="slide">
              <img src="{{ slide.image }}" alt="" width="80%">
        </div>
      </ngx-slick-carousel>
    </div>
    <!-- END OF CUSTOMERS SECTION -->

    <div class="row mt-20 p-8 ">
      <h3
          class="mx-auto text-center font-bold text-black pb-12"
          style="font-size: 26px;"
        >
          Partners
        </h3>
        <!-- For desktop view -->
      <ngx-slick-carousel class="md:carousel md:flex md:flex-row md:items-center md:p-[5px]" *ngIf="!hide"            
      [config]="{slidesToShow: 4, slidesToScroll: 1, autoplay: true, centerMode: true, centerPadding: '10px',
      arrows: false,
      dots: false}" 
                        >
        <div ngxSlickItem *ngFor="let slide of partners" class="slide">
              <a href="{{slide.rootdomain}}"><img src="{{ slide.image }}" alt="" width="80%"></a> 
        </div>

        <!-- For mobile view -->
      </ngx-slick-carousel>
      <ngx-slick-carousel class="carousel flex flex-row items-center p-[5px]" *ngIf="hide"             
      [config]="{slidesToShow: 2, slidesToScroll: 1, autoplay: true, centerMode: true, centerPadding: '10px',
      arrows: false,
      dots: false}" 
                        >
        <div ngxSlickItem *ngFor="let slide of logos" class="slide">
              <img src="{{ slide.image }}" alt="" width="80%">
        </div>
      </ngx-slick-carousel>
    </div>

    <!-- End of partners section -->

    <!-- FEATURED NEWS -->
    <h1
      class="flex flex-row justify-center pt-10 bg-green-100 font-extrabold pb-8"
      style="font-size: 26px; font-weight: bold"
    >
      Featured News
    </h1>

    <div class="body bg-green-100 ">
      <div class="flex flex-col md:flex-row justify-center items-center">
          <div class="impacts flex justify-center">      
          <!-- SPINNER -->
          <div class="w-[80vw] text-center mt-10" *ngIf="spinneroff">
              <div role="status">
                  <svg aria-hidden="true" class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                  </svg>
                  <span class="sr-only">Loading...</span>
              </div>
          </div>
           <!-- END OF SPINNER -->
  
          <div class="flex flex-row gap-8 flex-wrap justify-center mb-8">
            <div class="w-[70vw] md:w-[21vw] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-center" *ngFor="let content of mergedArray | paginate: {itemsPerPage:3, currentPage:pageNumber}; let i = index;">
                <img *ngIf="content.image.length !== 1"  src="{{content.image}} " alt="" class="mb-4 h-48 w-full object-cover">
                <p *ngIf="content.image.length==1" class="font-bold h-48 text-[60px] bg-amber-400 p-8 mb-4">{{content.image | titlecase}}</p>
                <a routerLink="/post/{{content.newsSlug}}">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white cursor-pointer">{{ content.title | titlecase}}</h5>
                </a>
                <p  routerLink="/post/{{content.newsSlug}}" class="font-normal text-justify text-gray-700  p-6 dark:text-gray-400 cursor-pointer" [innerHTML]="content.description | shorten"></p>
  
            </div>
          </div>
          
      </div>
      </div>  
  </div>

    <!-- <div class="flex flex-wrap gap-8 news bg-green-100 p-12"> -->
      

      <!-- embedding facebook post -->
      <!-- <div>
        <h1 class="setUnderlines p-2 font-bold mb-2 text-[20px] flex justify-center">Facebook Posts</h1>
        <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fweb.facebook.com%2Fcsquaredafricagroup&tabs=timeline&width=400&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=577650384082483"
        class=" w-[250px] h-[450px] md:w-[350px] md:h-[520px]"
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      ></iframe>
      </div> -->
      <!-- end of embedding facebook -->

      <!-- <div class="tweet  w-[250px] h-[450px] md:w-[350px] md:h-[550px] overflow-hidden">
        <h1 class="setUnderlines p-2 font-bold mb-2 text-[20px] flex justify-center">Twitter Feed</h1>
        <ng-twitter-timeline
          [dataSrc]="{ sourceType: 'profile', screenName: 'CSquared_Africa' }"
          [opts]="{ tweetLimit: 1 }"
        ></ng-twitter-timeline>
      </div> -->

      <!-- embedding linked in post -->
      
      <!-- <div class="mt-[15vh] md:mt-[0]">
        <h1 class="setUnderlines p-2 font-bold mb-2 text-[20px] flex justify-center">LinkedIn Feed</h1>
        <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7046409016247246849"
        class=" w-[250px] h-[450px] md:w-[350px] md:h-[520px]"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"
        id="linkedin-post"
      ></iframe>
      </div> -->
      <!-- end of embedding linked inpost -->
    <!-- </div> -->

    <app-footer></app-footer>
  </div>
</div>
