<div class="home">
  <!-- <app-hero-general></app-hero-general> -->
  <app-hero-main></app-hero-main>

  <!-- What we offer section -->
  <section class="pt-5 lg:pt-[120px] pb-12 lg:pb-[90px]">
    <div class="container flex flex-col items-center">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4">
          <div class="text-center mx-auto mb-2 lg:mb-20 max-w-[600px]">
            <h2
              class="font-bold sm:text-4xl mb-4"
              style="font-size: 26px"
            >
              What We Offer
            </h2>
            <p class="text-base text-body-color">
              CSquared enables MNOs and ISPs to provide high-quality broadband
              at lower costs through open access shared infrastructure such as metro fiber
              and Wi-Fi networks
            </p>
          </div>
        </div>
      </div>
      <div
        class="w-[85vw] grid grid-cols-1 gap-1 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3"
      >
        <div
          *ngFor="let service of services"
          class="flex flex-col justify-between group p-8 space-y-3 border-2 border-green-400 bg-green-300 dark:border-green-300 rounded-xl hover:bg-green-900 hover:border-transparent"
        >
          <p class="flex justify-center h-20 pb-3">
            <img src="{{ service.logo }}" alt="" style="object-fit: contain" />
          </p>

          <h1
            class="text-2xl font-semibold text-center text-gray-900 capitalize dark:text-white group-hover:text-white"
          >
            {{ service.name }}
          </h1>

          <p class="text-gray-700 dark:text-gray-700 group-hover:text-white">
            {{ service.description }}
          </p>

          <a routerLink="{{service.link}}" class="inline-flex justify-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-800 dark:focus:ring-green-800">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end What we provide section -->

  <!-- Map section -->
  <h1
    class="flex flex-row justify-center pt-4 font-bold"
    style="font-size: 26px;"
  >
    Who We Are
  </h1>
  <div data-aos="fade-up" data-aos-duration="500">
    <div>
      <section
        class="pt-24 md:pt-18 grid grid-cols-1 lg:grid-cols-12 gap-5 map-africa-container"
      >
        <div class="map-africa col-span-7 relative mr-20 top-32 md:top-0">
          <svg
            class="h-28 md:h-32 opacity-30 absolute ml-10 z-[-1]"
            viewBox="0 0 77 123"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="4" cy="4" r="4" fill="#42806B" />
            <circle cx="4" cy="27" r="4" fill="#42806B" />
            <circle cx="4" cy="50" r="4" fill="#42806B" />
            <circle cx="4" cy="73" r="4" fill="#42806B" />
            <circle cx="4" cy="96" r="4" fill="#42806B" />
            <circle cx="4" cy="119" r="4" fill="#42806B" />
            <circle cx="50" cy="4" r="4" fill="#42806B" />
            <circle cx="50" cy="27" r="4" fill="#42806B" />
            <circle cx="50" cy="50" r="4" fill="#42806B" />
            <circle cx="50" cy="73" r="4" fill="#42806B" />
            <circle cx="50" cy="96" r="4" fill="#42806B" />
            <circle cx="50" cy="119" r="4" fill="#42806B" />
            <circle cx="27" cy="4" r="4" fill="#42806B" />
            <circle cx="27" cy="27" r="4" fill="#42806B" />
            <circle cx="27" cy="50" r="4" fill="#42806B" />
            <circle cx="27" cy="73" r="4" fill="#42806B" />
            <circle cx="27" cy="96" r="4" fill="#42806B" />
            <circle cx="27" cy="119" r="4" fill="#42806B" />
            <circle cx="73" cy="4" r="4" fill="#42806B" />
            <circle cx="73" cy="27" r="4" fill="#42806B" />
            <circle cx="73" cy="50" r="4" fill="#42806B" />
            <circle cx="73" cy="73" r="4" fill="#42806B" />
            <circle cx="73" cy="96" r="4" fill="#42806B" />
            <circle cx="73" cy="119" r="4" fill="#42806B" />
          </svg>

          <img
            src="/assets/images/africa.svg"
            class="mx-auto"
            alt="africa-map"
          />

          <div class="ml-20 mb-20 absolute ">
            <div class="flex text-[14px]"><div class="h-2 p-2 w-2 bg-amber-500"></div> &nbsp; Already established</div>
            <div class="flex text-[14px]"><div class="h-2 p-2 w-2 bg-blue-500"></div> &nbsp; Planning establishment</div>
            <div class="flex text-[14px]"><div class="h-2 p-2 w-2 bg-green-400"></div> &nbsp; No plan yet</div>
          </div>
        </div>
        <div class="col-span-5 relative mx-auto">
          <span
            class="hidden md:block absolute h-20 w-20 md:h-64 md:w-64 bg-emerald-400/20 opacity-100 md:-top-32 right-4 rounded-full z-[-1]"
          ></span>

          <div class="container mx-auto about-us mt-56 md:mt-0 px-5">
            <h4 class="text-md text-green-900 font-bold">#FibeRisingAfrica</h4>
            <!-- <h5 class="text-3xl font-medium text-green-900">GROWTH</h5> -->

            <p class="text-md text-slate-600 mt-4 pr-20 font-bold">
              We are <b>‘Fiberising’</b> Africa through affordable broadband
              internet connectivity. We are making the internet accessible to
              everyone across Africa. We are harnessing the power of
              Public-Private Partnerships to build value through data
              delocalization.
            </p>

            <button
              class="text-lg bg-brand-green py-1 px-9 mt-5 text-green-100 rounded hover:text-green-800 hover:bg-yellow-300"
              routerLink="/about"
            >
              Learn More
            </button>
          </div>

          <div
            class="border-t-2 px-20 md:px-0 pt-8 mt-10 md:mr-20 flex space-x-20 sub-con-clients"
          >
            <div class="text-center">
              <h4 class="font-bold text-brand-green text-3xl">50K+</h4>
              <small>Subscribers</small>
            </div>
            <div class="text-center">
              <h4 class="font-bold text-brand-green text-3xl">27M+</h4>
              <small>Connections</small>
            </div>
            <div class="text-center">
              <h4 class="font-bold text-brand-green text-3xl">3K+</h4>
              <small>Satisfied Clients</small>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end Map section -->

    <!-- Start of logo section -->

    <div class="row mt-20 p-8 ">
      <h3
          class="mx-auto text-center font-bold text-green-900 pb-12"
          style="font-size: 26px;"
        >
          Who We Work With
        </h3>
      <ngx-slick-carousel class="carousel flex flex-row items-center p-[5px]" 
                        
      [config]="{slidesToShow: 5, slidesToScroll: 1, autoplay: true, centerMode: true, centerPadding: '10px',
      arrows: false,
      dots: false}" 
                        >
        <div ngxSlickItem *ngFor="let slide of logos" class="slide">
              <img src="{{ slide.image }}" alt="" width="80%">
        </div>
    </ngx-slick-carousel>
    </div>

    <!-- End of logo section -->
    <h1
      class="flex flex-row justify-center pt-10 pb-2 bg-green-100 font-extrabold"
      style="font-size: 26px; font-weight: bold"
    >
      Our Socials
    </h1>
    <div class="flex flex-wrap gap-8 news bg-green-100 p-12">
      

      <!-- embedding facebook post -->
      <div>
        <h1 class="font-bold mb-2 text-[20px] flex justify-center">Facebook Posts</h1>
        <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fweb.facebook.com%2Fcsquaredafricagroup&tabs=timeline&width=400&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=577650384082483"
        width="350"
        height="550"
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      ></iframe>
      </div>
      <!-- end of embedding facebook -->

      <div style="width: 350px; height:550px;"  class="tweet">
        <h1 class="font-bold mb-2 text-[20px] flex justify-center">Twitter Feed</h1>
        <ng-twitter-timeline
          [dataSrc]="{ sourceType: 'profile', screenName: 'CSquared_Africa' }"
          [opts]="{ tweetLimit: 1 }"
        ></ng-twitter-timeline>
      </div>

      <!-- embedding linked in post -->
      <div>
        <h1 class="font-bold mb-2 text-[20px] flex justify-center">LinkedIn Feed</h1>
        <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7038870686903275520"
        height="550"
        width="350"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"
      ></iframe>
      </div>
      <!-- end of embedding linked inpost -->
    </div>

    <app-footer></app-footer>
  </div>
</div>
