.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-section{
    width: 90vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: repeat(2, 1fr);
    gap:20px;
    display: grid;
    grid-template-areas: 
    'a b c c'
    'd e e f';
}

.grid-section > div > img{
    width: 100%;
    height: 100%;
}
.grid-section > div > img:hover{
    transform: scale(1.01);
}
.mnos{
    grid-area: a;
    height:40vh;
}
.datacenters{
    grid-area: b;
    height:40vh;
}
.smes{
    grid-area: c;
    height:40vh;
    
}
.isps{
    grid-area: d;
    height:40vh;
}
.p2p{
    grid-area: e;
    height:40vh;
}
.cloudcenters{
    grid-area: f;
    height:40vh;
}
.grid-title{
    margin-top: -60px;
    font-size: 25px;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}
.company-logos{
    visibility:hidden;
}
@media screen and (max-width:768px) {
    .grid-section{
        display: flex;
        flex-wrap: wrap;
    }
    .variety-services{
        display: flex;
        flex-direction: column;
        width: 75vw;
        margin-left: -20px;
    }
    .variety-services > h1{
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
    .company-logos{
        
        display:none;
        flex-wrap: wrap;
        margin-top: -3vh;
        margin-left: 7vw;
    }
    .grid-title{
        margin-top: -60px;
        font-size: 20px;
        color: white;
        margin-left: 10px;
        font-weight: bold;
    }
    .about-us{
        width: 100vw;
    }
    .about-us>p{
        width: 90vw;
    }
}