<div class="body" *ngIf="teammember">
    <div class="member-bg">
        {{teammember.rank}}
    </div>
    <div class="member-container">
        <div class="single-member ">
            <div class="member-img min-w-[250px]">
                <img src="{{teammember.image}}" alt="Specialist">
                <!-- <div class="rank">
                    <h3>{{teammember.name}}</h3>
                    {{teammember.rank}}
                </div> -->
            </div>
            <div class="member-info min-w-[260px]">
                <h2 >{{teammember.rank}}</h2><br>
                <p class="text-justify">{{teammember.description}}</p><br><br>
                <button class="btn btn-success pl-10 pr-10">Contact</button>
            </div>
        </div>
    </div>
    <br>
    <hr>

    <!-- Bottom carousel -->
    <div class="m-carousel mb-8">
        <div class="leftitem w-[25vw]" (click)="getPreviousMember(leftIndex)" *ngIf="previousmember">
            <div>
                <img src="./../../assets/images/icons/left-arrow.png" alt="Previous" width="40px"><br>
                Prev
            </div>
            <div class="carousel-left">
                <img src="{{previousmember.image}}" alt="Previous" class="w-[20%] h-[20%]"><br>
                <b>{{previousmember.name}}</b>
            </div>
        </div>
        <div class="rightitem w-[25vw]"  (click)="getNextMember(rightIndex)" *ngIf="nextmember">
            <div class="carousel-right">
                <img src="{{nextmember.image}}" alt="Previous" class="w-[20%] h-[20%]"><br>
                <b>{{nextmember.name}}</b>
            </div>
            <div>
                <img src="./../../assets/images/icons/right-arrow.png" alt="Next" width="40px"><br>
                Next
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    
</div>